Repository barad1tos/GenreUpdater: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [ '--maxkb=500' ]
      - id: check-merge-conflict

  # uv lock sync - ensures uv.lock stays in sync with pyproject.toml
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.14
    hooks:
      - id: uv-lock

  # GitHub Actions security scanner
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.0.1
    hooks:
      - id: zizmor
        args: ['--min-severity', 'medium']  # Ignore informational findings

  # Use local ruff from pyproject.toml (single source of truth)
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: true

      - id: ty
        name: ty (type checker)
        entry: uv run ty check --python .venv
        language: system
        types: [python]
        files: ^src/
        pass_filenames: false  # ty checks whole project, not individual files

chore(deps): bump dev tool versions
  pyproject.toml
  uv.lock
Due: none

fix(lint): migrate to StrEnum, add maxsplit
  launchctl/SERVICE_README.md
  src/core/models/script_detection.py
  src/core/models/track_models.py
  src/core/tracks/year_utils.py
  src/services/api/applemusic.py
  src/services/api/orchestrator.py
  src/services/api/year_scoring.py
  src/services/pending_verification.py
Due: ruff-check, ruff-format, ty

fix(lint): suppress PLW0108 for ty compat
  pyproject.toml
Due: none

refactor(apple): remove dead temp-file execution path
  .gitignore
  docs/changelog.md
  src/services/apple/applescript_executor.py
  src/services/apple/file_validator.py
Due: ruff-check, ruff-format, ty

style(typing): add future annotations to 33 source files
  docs/changelog.md
  src/app/app_config.py
  src/app/cli.py
  src/app/features/batch/batch_processor.py
  src/app/features/crypto/encryption.py
  src/app/features/crypto/exceptions.py
  src/app/features/verify/database_verifier.py
  src/app/full_sync.py
  src/app/music_updater.py
  src/app/orchestrator.py
  src/core/logger.py
  src/core/models/metadata_utils.py
  src/core/models/types.py
  src/core/models/validators.py
  src/core/retry_handler.py
  src/core/run_tracking.py
  src/core/tracks/genre_manager.py
  src/core/tracks/track_base.py
  src/core/tracks/track_processor.py
  src/core/tracks/track_utils.py
  src/core/tracks/year_utils.py
  src/metrics/change_reports.py
  src/services/api/api_base.py
  src/services/api/applemusic.py
  src/services/api/discogs.py
  src/services/api/musicbrainz.py
  src/services/api/orchestrator.py
  src/services/api/year_scoring.py
  src/services/cache/api_cache.py
  src/services/cache/cache_config.py
  src/services/cache/fingerprint.py
  src/services/cache/hash_service.py
  src/services/pending_verification.py
  src/stubs/cryptography/secure_config.py
Due: ruff-check, ruff-format, ty

chore(config): add experimental section
  config.yaml
Due: none

refactor(apple): complete .scpt to .applescript migration
  applescripts/count_modifiable_tracks.applescript
  applescripts/fetch_tracks.scpt
  docs/architecture/overview.md
  docs/guide/troubleshooting.md
  src/core/models/protocols.py
  src/core/tracks/track_processor.py
  src/services/apple/applescript_client.py
  src/services/apple/applescript_executor.py
  src/services/cache/snapshot.py
Due: ruff-check, ruff-format, ty

refactor(apple): centralize script names as constants
  docs/architecture/overview.md
  src/core/tracks/batch_fetcher.py
  src/core/tracks/track_processor.py
  src/core/tracks/update_executor.py
  src/metrics/track_sync.py
  src/services/apple/applescript_client.py
  src/services/apple/applescript_executor.py
  src/services/apple/scripts.py
  src/services/cache/snapshot.py
Due: ruff-check, ruff-format, ty

refactor(apple): move script constants to core layer
  docs/architecture/overview.md
  src/core/apple_script_names.py
  src/core/tracks/batch_fetcher.py
  src/core/tracks/track_processor.py
  src/core/tracks/update_executor.py
  src/metrics/track_sync.py
  src/services/apple/applescript_client.py
  src/services/apple/applescript_executor.py
  src/services/cache/snapshot.py
Due: ruff-check, ruff-format, ty

refactor(apple): complete .scpt to .applescript migration (#201)
  applescripts/count_modifiable_tracks.applescript
  applescripts/fetch_tracks.scpt
  docs/architecture/overview.md
  docs/guide/troubleshooting.md
  src/core/apple_script_names.py
  src/core/models/protocols.py
  src/core/tracks/batch_fetcher.py
  src/core/tracks/track_processor.py
  src/core/tracks/update_executor.py
  src/metrics/track_sync.py
  src/services/apple/applescript_client.py
  src/services/apple/applescript_executor.py
  src/services/cache/snapshot.py
Due: ruff-check, ruff-format, ty

refactor(docs): replace manual API docs with mkdocs-api-autonav
  .gitignore
  .pre-commit-config.yaml
  docs/__init__.py
  docs/api/app/cli.md
  docs/api/app/features.md
  docs/api/app/index.md
  docs/api/app/orchestrator.md
  docs/api/core/config.md
  docs/api/core/dry_run.md
  docs/api/core/genre_manager.md
  docs/api/core/logger.md
  docs/api/core/track_processor.md
  docs/api/core/utils.md
  docs/api/core/year_retriever.md
  docs/api/index.md
  docs/api/metrics/analytics.md
  docs/api/metrics/index.md
  docs/api/metrics/reports.md
  docs/api/models/protocols.md
  docs/api/models/track.md
  docs/api/services/api_clients.md
  docs/api/services/apple.md
  docs/api/services/applescript.md
  docs/api/services/cache.md
  docs/api/services/snapshot.md
  docs/api/services/verification.md
  docs/gen_ref_pages.py
  docs/index.md
  mkdocs.yml
  pyproject.toml
  src/app/features/__init__.py
  uv.lock
Due: ruff-check, ruff-format, ty

chore(lint): use local pydoclint hook
  .pre-commit-config.yaml
Due: none

fix(docs): let Material theme Mermaid natively
  docs/architecture/overview.md
  docs/gen_diagrams.py
  docs/stylesheets/ayu.css
Due: ruff-check, ruff-format

feat(ci): add docs code validation pipeline
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  docs/architecture/caching.md
  docs/architecture/data-flow.md
  docs/architecture/overview.md
  docs/contributing.md
  docs/getting-started/installation.md
  docs/guide/automation.md
  docs/guide/cli.md
  docs/guide/faq.md
  mkdocs.yml
  pyproject.toml
  tests/test_docs.py
  uv.lock
Due: ruff-check, ruff-format

feat(ci): add doc-sync freshness audit
  .github/workflows/docs-audit.yml
Due: none

docs(readme): restructure with diagrams and CLI reference tables
  README.md
Due: none

fix(lint): resolve S607 partial path in shellcheck subprocess call
  README.md
  pyproject.toml
  tests/test_docs.py
Due: ruff-check, ruff-format

fix(ci): pin doc-sync to commit hash
  .github/workflows/docs-audit.yml
Due: none

refactor: resolve layer violations and code quality issues (#208-#217)
  docs/architecture/overview.md
  src/app/music_updater.py
  src/core/analytics_decorator.py
  src/core/apple_script_names.py
  src/core/models/cache_types.py
  src/core/models/protocols.py
  src/core/tracks/batch_fetcher.py
  src/core/tracks/cache_manager.py
  src/core/tracks/genre_manager.py
  src/core/tracks/incremental_filter.py
  src/core/tracks/track_base.py
  src/core/tracks/track_processor.py
  src/core/tracks/update_executor.py
  src/core/tracks/year_batch.py
  src/core/tracks/year_fallback.py
  src/core/tracks/year_retriever.py
  src/metrics/analytics.py
  src/services/api/api_base.py
  src/services/api/applemusic.py
  src/services/api/discogs.py
  src/services/api/musicbrainz.py
  src/services/api/orchestrator.py
  src/services/api/request_executor.py
  src/services/apple/applescript_client.py
  src/services/cache/album_cache.py
  src/services/cache/orchestrator.py
  src/services/cache/snapshot.py
  src/services/pending_verification.py
  tests/mocks/protocol_mocks.py
  tests/unit/core/tracks/test_cache_manager.py
  tests/unit/core/tracks/test_genre_manager.py
  tests/unit/core/tracks/test_incremental_filter.py
  tests/unit/core/tracks/test_year_determination_helpers.py
  tests/unit/core/tracks/test_year_determination_skip.py
  tests/unit/metrics/test_analytics_core.py
  tests/unit/services/api/test_discogs.py
  tests/unit/services/api/test_orchestrator_extended.py
  tests/unit/services/cache/test_album_cache_service.py
  tests/unit/services/cache/test_library_snapshot_service.py
  tests/unit/services/cache/test_snapshot_force_scan.py
Due: ruff-check, ruff-format, ty

style: address pr-review findings
  docs/architecture/overview.md
  src/core/analytics_decorator.py
  src/core/tracks/genre_manager.py
  src/core/tracks/track_base.py
  src/core/tracks/track_processor.py
  src/core/tracks/update_executor.py
  src/core/tracks/year_batch.py
  src/core/tracks/year_retriever.py
Due: ruff-check, ruff-format, ty

fix(ci): remove orphaned protocol methods and bump cryptography to 46.0.5
  docs/architecture/overview.md
  pyproject.toml
  src/core/models/protocols.py
  tests/mocks/csv_mock.py
  tests/unit/core/tracks/test_track_processor.py
  tests/unit/services/api/test_orchestrator.py
  uv.lock
Due: ruff-check, ruff-format, ty

test: cover patch coverage gaps for PR #221
  docs/architecture/overview.md
  tests/unit/core/tracks/test_batch_fetcher_analytics.py
  tests/unit/metrics/test_analytics_core.py
  tests/unit/services/api/test_applemusic.py
  tests/unit/services/api/test_orchestrator_init.py
  tests/unit/services/api/test_request_executor.py
Due: ruff-check, ruff-format

style(tests): fix type casts and remove duplicate test method
  docs/architecture/overview.md
  tests/unit/core/tracks/test_track_processor.py
  tests/unit/services/api/test_request_executor.py
Due: ruff-check, ruff-format

style(tests): fix casts and drop default arg in batch_fetcher_analytics
  docs/architecture/overview.md
  tests/unit/core/tracks/test_batch_fetcher_analytics.py
Due: ruff-check, ruff-format

fix(config): add missing Pydantic models and fix silent config key bugs (#210)
  docs/architecture/overview.md
  src/app/features/verify/database_verifier.py
  src/core/models/track_models.py
  src/services/cache/generic_cache.py
  tests/unit/app/features/verify/test_database_verifier.py
  tests/unit/services/api/test_orchestrator_init.py
Due: ruff-check, ruff-format, ty

fix(tests): reset album patterns to prevent xdist global state pollution
  docs/architecture/overview.md
  tests/integration/test_year_plausibility_integration.py
Due: ruff-check, ruff-format

style: address Sourcery review findings
  docs/architecture/overview.md
  src/app/features/verify/database_verifier.py
  src/core/models/track_models.py
  src/services/cache/generic_cache.py
  tests/unit/app/features/verify/test_database_verifier.py
Due: ruff-check, ruff-format, ty

fix(config): add missing Pydantic models and fix silent config bugs (#222)
  docs/architecture/overview.md
  src/app/features/verify/database_verifier.py
  src/core/models/track_models.py
  src/services/cache/generic_cache.py
  tests/integration/test_year_plausibility_integration.py
  tests/unit/app/features/verify/test_database_verifier.py
  tests/unit/services/api/test_orchestrator_init.py
Due: ruff-check, ruff-format, ty

feat(config): wire AppConfig through DI and logger for typed config access
  docs/architecture/overview.md
  main.py
  src/app/app_config.py
  src/core/core_config.py
  src/core/logger.py
  src/core/models/track_models.py
  src/services/dependency_container.py
  tests/conftest.py
  tests/integration/services/apple/test_applescript_client_real.py
  tests/integration/services/test_dependency_container_integration.py
  tests/unit/app/test_app_config.py
  tests/unit/core/test_logger.py
Due: ruff-check, ruff-format, ty

style(tests): consolidate config dicts into shared test factory
  docs/architecture/overview.md
  src/core/core_config.py
  tests/conftest.py
  tests/factories.py
  tests/integration/services/api/test_external_api_real.py
  tests/integration/services/test_dependency_container_integration.py
  tests/unit/app/test_app_config.py
  tests/unit/core/test_logger.py
Due: ruff-check, ruff-format, ty

feat(config): wire AppConfig through DI and logger for typed config access (#223)
  docs/architecture/overview.md
  main.py
  src/app/app_config.py
  src/core/core_config.py
  src/core/logger.py
  src/core/models/track_models.py
  src/services/dependency_container.py
  tests/conftest.py
  tests/factories.py
  tests/integration/services/api/test_external_api_real.py
  tests/integration/services/apple/test_applescript_client_real.py
  tests/integration/services/test_dependency_container_integration.py
  tests/unit/app/test_app_config.py
  tests/unit/core/test_logger.py
Due: ruff-check, ruff-format, ty

test(config): cover AppConfig patch lines for Codecov
  docs/architecture/overview.md
  tests/integration/services/test_dependency_container_integration.py
  tests/unit/app/test_app_config.py
Due: ruff-check, ruff-format

fix(config): distinguish None vs [] in pattern detection config
  docs/changelog.md
  src/core/models/album_type.py
  src/core/models/search_strategy.py
  src/core/models/track_models.py
  tests/unit/services/test_dependencies_service_comprehensive.py
Due: ruff-check, ruff-format, ty

refactor(config): migrate cache + Apple services to typed AppConfig (PR B2)
  docs/changelog.md
  src/services/apple/applescript_client.py
  src/services/cache/snapshot.py
  src/services/dependency_container.py
  tests/integration/services/apple/test_applescript_client_real.py
  tests/unit/services/apple/test_applescript_client_coverage.py
  tests/unit/services/cache/test_library_snapshot_service.py
  tests/unit/services/cache/test_snapshot_force_scan.py
  tests/unit/services/test_applescript_client.py
Due: ruff-check, ruff-format, ty

fix(test): use loc-based assertion for Pydantic validation error
  docs/changelog.md
  tests/unit/services/apple/test_applescript_client_coverage.py
Due: ruff-check, ruff-format

refactor(config): migrate cache + Apple services to typed AppConfig (PR B2) (#225)
  docs/changelog.md
  src/services/apple/applescript_client.py
  src/services/cache/snapshot.py
  src/services/dependency_container.py
  tests/integration/services/apple/test_applescript_client_real.py
  tests/unit/services/apple/test_applescript_client_coverage.py
  tests/unit/services/cache/test_library_snapshot_service.py
  tests/unit/services/cache/test_snapshot_force_scan.py
  tests/unit/services/test_applescript_client.py
Due: ruff-check, ruff-format, ty

refactor(config): migrate core year pipeline to typed AppConfig (#210 B3)
  docs/changelog.md
  src/app/music_updater.py
  src/core/tracks/track_processor.py
  src/core/tracks/update_executor.py
  src/core/tracks/year_batch.py
  src/core/tracks/year_determination.py
  src/core/tracks/year_retriever.py
  src/services/api/orchestrator.py
  src/services/dependency_container.py
  tests/integration/test_year_pipeline.py
  tests/unit/app/test_music_updater.py
  tests/unit/core/tracks/conftest.py
  tests/unit/core/tracks/test_track_processor.py
  tests/unit/core/tracks/test_track_processor_coverage.py
  tests/unit/core/tracks/test_update_executor.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/core/tracks/test_year_batch_prerelease.py
  tests/unit/core/tracks/test_year_determination_caching.py
  tests/unit/core/tracks/test_year_determination_helpers.py
  tests/unit/core/tracks/test_year_determination_skip.py
  tests/unit/core/tracks/test_year_retriever.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
  tests/unit/core/tracks/test_year_retriever_edge_cases.py
  tests/unit/services/api/test_orchestrator.py
  tests/unit/services/api/test_orchestrator_comprehensive.py
  tests/unit/services/api/test_orchestrator_extended.py
  tests/unit/services/api/test_orchestrator_init.py
  tests/unit/services/api/test_orchestrator_shutdown.py
Due: ruff-check, ruff-format, ty

refactor: remove dead coercion code after AppConfig migration
  docs/changelog.md
  src/core/tracks/update_executor.py
  src/core/tracks/year_retriever.py
  src/services/api/orchestrator.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
  tests/unit/services/api/test_orchestrator_extended.py
Due: ruff-check, ruff-format, ty
