Repository barad1tos/GenreUpdater: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, ty, pydoclint

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system
  pass_filenames: true

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system
  pass_filenames: true

ty:
  name: ty (type checker)
  entry: uv run ty check --python .venv
  language: system
  pass_filenames: false

pydoclint:
  name: pydoclint
  entry: uv run pydoclint
  language: system

test(api): check the year-search failure tracebacks on real log records
  tests/unit/services/api/test_orchestrator.py
Due: ruff-format, ruff-check

fix(retry): time out before a backoff that would pass the deadline
  CHANGELOG.md
  src/core/models/track_models.py
  src/core/retry_handler.py
  tests/unit/core/test_core_config.py
  tests/unit/core/test_retry_handler.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(retry): count the one attempt a negative max_retries allows
  src/core/retry_handler.py
  tests/unit/core/test_retry_handler.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(retry): name the last failure when no retry fits the timeout
  CHANGELOG.md
  src/core/models/track_models.py
  src/core/retry_handler.py
  src/services/apple/applescript_executor.py
  tests/unit/core/test_retry_handler.py
Due: ruff-format, ruff-check, ty, pydoclint

ci(docs): rebuild the site when CHANGELOG.md changes
  .github/workflows/docs.yml
Due: none

docs(site): drop the misleading git dates from the changelog page
  mkdocs.yml
Due: none

docs(changelog): make CHANGELOG.md the one changelog
  CHANGELOG.md
  docs/changelog.md
Due: none

fix(api): stop caching failed requests as empty answers
  CHANGELOG.md
  src/services/api/request_executor.py
  tests/unit/services/api/test_request_executor.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(discogs): stop caching a failed search or master fetch
  src/services/api/discogs.py
  tests/unit/services/api/test_discogs.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(discogs): ask for each master once per search, never for master 0
  src/services/api/discogs.py
  tests/unit/services/api/test_discogs.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(api): keep empty bodies out of the cache as well
  CHANGELOG.md
  src/services/api/request_executor.py
  tests/unit/services/api/test_request_executor.py
Due: ruff-format, ruff-check, ty, pydoclint

test(discogs): check that the failing request was really made
  tests/unit/services/api/test_discogs.py
Due: ruff-format, ruff-check

test(applescript): pass the script name to run_script, as production does
  tests/integration/services/apple/test_applescript_client_real.py
Due: ruff-format, ruff-check

fix(musicbrainz): score releases on their year and the artist's country code
  CHANGELOG.md
  src/services/api/musicbrainz.py
  tests/unit/services/api/test_musicbrainz.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(scoring): give the major-market bonus without a known artist region
  CHANGELOG.md
  src/services/api/year_scoring.py
  tests/unit/services/api/test_scoring_comprehensive.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(scoring): pass the artist context to each scoring call
  CHANGELOG.md
  src/services/api/applemusic.py
  src/services/api/discogs.py
  src/services/api/musicbrainz.py
  src/services/api/orchestrator.py
  src/services/api/year_scoring.py
  src/services/api/year_search_coordinator.py
  tests/integration/services/api/test_api_orchestrator_integration.py
  tests/integration/test_alternative_search.py
  tests/unit/core/tracks/test_year_retriever_edge_cases.py
  tests/unit/services/api/test_api_boundary_security.py
  tests/unit/services/api/test_applemusic.py
  tests/unit/services/api/test_discogs.py
  tests/unit/services/api/test_musicbrainz.py
  tests/unit/services/api/test_orchestrator.py
  tests/unit/services/api/test_scoring_comprehensive.py
  tests/unit/services/api/test_scoring_edition_normalization.py
  tests/unit/services/api/test_year_search_coordinator.py
  tests/unit/services/api/test_year_search_rate_limiting.py
  tools/generate_swift_fixtures.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(applemusic): keep the storefront out of the release country
  CHANGELOG.md
  src/core/models/protocols.py
  src/services/api/applemusic.py
  src/services/api/discogs.py
  src/services/api/orchestrator.py
  tests/mocks/protocol_mocks.py
  tests/unit/services/api/test_applemusic.py
  tests/unit/services/api/test_discogs.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(discogs): key the scored-list cache on the artist context
  src/services/api/discogs.py
  tests/unit/services/api/test_discogs.py
  tests/unit/services/api/test_musicbrainz.py
  tests/unit/services/api/test_year_search_coordinator.py
Due: ruff-format, ruff-check, ty, pydoclint

test(discogs): vary one context part at a time in the cache-key test
  tests/unit/services/api/test_discogs.py
Due: ruff-format, ruff-check

fix(api): raise on a failed request and retry only transient failures
  docs/architecture/data-flow.md
  src/services/api/request_executor.py
  tests/unit/services/api/test_request_executor.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(musicbrainz): fail the lookup when a release fetch failed
  src/services/api/musicbrainz.py
  tests/unit/services/api/test_applemusic.py
  tests/unit/services/api/test_discogs.py
  tests/unit/services/api/test_musicbrainz.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(api): report a year lookup that no provider answered
  src/core/models/protocols.py
  src/services/api/orchestrator.py
  src/services/api/year_search_coordinator.py
  tests/unit/services/api/test_orchestrator_init.py
  tests/unit/services/api/test_year_search_coordinator.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(api): keep artist lookups that failed out of the cache
  src/services/api/orchestrator.py
  tests/unit/services/api/test_orchestrator.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(year): skip an album whose lookup was unavailable
  docs/guide/years.md
  src/app/music_updater.py
  src/core/tracks/year_batch.py
  src/core/tracks/year_determination.py
  tests/unit/app/test_music_updater.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/core/tracks/test_year_determination_helpers.py
Due: ruff-format, ruff-check, ty, pydoclint

docs: record the unavailable-lookup fix and tidy the touched pages
  CHANGELOG.md
  docs/architecture/data-flow.md
  docs/guide/years.md
  tests/unit/services/api/test_request_executor.py
Due: ruff-format, ruff-check

fix(api): switch off a provider that rejects its credentials
  CHANGELOG.md
  docs/architecture/data-flow.md
  src/app/music_updater.py
  src/core/models/protocols.py
  src/services/api/applemusic.py
  src/services/api/discogs.py
  src/services/api/orchestrator.py
  src/services/api/request_executor.py
  src/services/api/year_search_coordinator.py
  tests/unit/app/test_music_updater.py
  tests/unit/core/tracks/test_year_determination_helpers.py
  tests/unit/services/api/test_year_search_coordinator.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(api): retry the throttling statuses providers actually send
  CHANGELOG.md
  docs/architecture/data-flow.md
  src/services/api/musicbrainz.py
  src/services/api/orchestrator.py
  src/services/api/request_executor.py
  src/services/api/year_search_coordinator.py
  tests/integration/services/api/test_external_api_real.py
  tests/unit/app/test_music_updater.py
  tests/unit/services/api/test_musicbrainz.py
  tests/unit/services/api/test_orchestrator.py
  tests/unit/services/api/test_request_executor.py
  tests/unit/services/api/test_year_search_coordinator.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(api): fail a lookup on any broken fetch and stop retrying a closed loop
  docs/architecture/data-flow.md
  src/services/api/musicbrainz.py
  src/services/api/request_executor.py
  tests/unit/services/api/test_musicbrainz.py
  tests/unit/services/api/test_request_executor.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(api): switch Discogs off as soon as it rejects the token
  src/services/api/year_search_coordinator.py
  tests/unit/services/api/test_year_search_coordinator.py
Due: ruff-format, ruff-check, ty, pydoclint

docs(api): state the 120 s cap on Retry-After waits
  docs/architecture/data-flow.md
Due: none

fix(api): answer a 404 before reading its body
  src/services/api/request_executor.py
  tests/integration/services/api/test_external_api_real.py
  tests/unit/services/api/test_orchestrator.py
  tests/unit/services/api/test_request_executor.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(cache): store provider results by outcome and expire empty ones
  src/core/models/protocols.py
  src/services/cache/api_cache.py
  src/services/cache/cache_config.py
  src/services/cache/orchestrator.py
  tests/integration/infrastructure/cache/test_cache_integration.py
  tests/mocks/protocol_mocks.py
  tests/unit/services/cache/test_api_cache_service.py
  tests/unit/services/cache/test_cache_config.py
  tests/unit/services/cache/test_cache_orchestrator.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(cache): drop the unused "ALL" overload and type the cache services
  src/core/models/protocols.py
  src/services/cache/orchestrator.py
Due: ruff-format, ruff-check, ty, pydoclint

refactor(api): split each client into record fetching and scoring
  src/services/api/applemusic.py
  src/services/api/discogs.py
  src/services/api/musicbrainz.py
  src/services/api/orchestrator.py
  tests/unit/services/api/test_api_boundary_security.py
  tests/unit/services/api/test_applemusic.py
  tests/unit/services/api/test_discogs.py
  tests/unit/services/api/test_musicbrainz.py
Due: ruff-format, ruff-check, ty, pydoclint

feat(api): cache provider release records and score them on read
  src/services/api/orchestrator.py
  src/services/api/year_search_coordinator.py
  tests/integration/test_alternative_search.py
  tests/unit/services/api/test_year_search_coordinator.py
  tests/unit/services/api/test_year_search_rate_limiting.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(api): let cached provider answers expire after the negative TTL
  config.yaml
  docs/getting-started/configuration.md
  src/core/models/track_models.py
  src/services/api/orchestrator.py
  src/services/api/request_executor.py
  tests/factories.py
  tests/integration/services/test_dependency_container_integration.py
  tests/integration/test_year_pipeline.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/services/api/test_orchestrator.py
  tests/unit/services/api/test_orchestrator_comprehensive.py
  tests/unit/services/api/test_orchestrator_extended.py
  tests/unit/services/api/test_orchestrator_init.py
  tests/unit/services/api/test_request_executor.py
  tests/unit/services/test_pending_verification_service.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(cache): write the provider result cache through a temporary file
  src/services/cache/api_cache.py
  tests/unit/services/cache/test_api_cache_service.py
Due: ruff-format, ruff-check, ty, pydoclint

docs(cache): describe the cache layers as the code runs them
  CHANGELOG.md
  docs/architecture/caching.md
Due: none

fix(cache): keep provider results across track writes and drop the old request cache
  CHANGELOG.md
  docs/architecture/caching.md
  src/services/api/discogs.py
  src/services/cache/api_cache.py
  src/services/cache/generic_cache.py
  src/services/cache/orchestrator.py
  tests/unit/services/api/test_discogs.py
  tests/unit/services/cache/test_api_cache_service.py
  tests/unit/services/cache/test_cache_orchestrator.py
  tests/unit/services/cache/test_generic_cache_service.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(api): treat answers without their result list as failures
  src/services/api/applemusic.py
  src/services/api/discogs.py
  src/services/api/musicbrainz.py
  src/services/cache/api_cache.py
  src/services/cache/generic_cache.py
  tests/unit/services/api/test_applemusic.py
  tests/unit/services/api/test_discogs.py
  tests/unit/services/api/test_musicbrainz.py
  tests/unit/services/cache/test_api_cache_service.py
  tests/unit/services/cache/test_generic_cache_service.py
Due: ruff-format, ruff-check, ty, pydoclint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  ty: any of: ^src/ and \.py$
  pydoclint: any of: ^src/ and \.py$
