Repository barad1tos/GenreUpdater: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, ty

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system
  pass_filenames: true

ty:
  name: ty (type checker)
  entry: uv run ty check --python .venv
  language: system
  pass_filenames: false

refactor(metrics): delete unused error_reports module
  src/metrics/error_reports.py
  tests/unit/core/monitoring/test_error_metrics_comprehensive.py
  tests/unit/metrics/test_error_reports.py
Due: ruff-check, ruff-format, ty

refactor(core): delete unused exceptions module
  src/core/__init__.py
  src/core/exceptions.py
Due: ruff-check, ruff-format, ty

refactor: centralize AppleScript separator constants (DRY)
  src/core/models/metadata_utils.py
  src/core/tracks/batch_fetcher.py
  src/core/tracks/track_delta.py
  src/core/tracks/track_processor.py
  src/services/apple/applescript_executor.py
  src/services/cache/snapshot.py
Due: ruff-check, ruff-format, ty

refactor: delete dead code functions
  src/app/pipeline_helpers.py
  src/app/track_cleaning.py
  src/core/tracks/artist_renamer.py
  tests/unit/app/test_pipeline_helpers.py
  tests/unit/app/test_track_cleaning.py
Due: ruff-check, ruff-format, ty

refactor: remove dead code and simplify implementations
  src/app/features/verify/database_verifier.py
  src/app/music_updater.py
  src/app/year_update.py
  src/core/core_config.py
  src/core/debug_utils.py
  src/core/models/script_detection.py
  src/core/retry_handler.py
  src/metrics/change_reports.py
  src/metrics/track_sync.py
  src/services/api/api_base.py
  src/services/api/discogs.py
  src/services/apple/applescript_client.py
  src/services/cache/api_cache.py
  src/services/cache/cache_config.py
  src/services/cache/fingerprint.py
  src/services/cache/generic_cache.py
  src/services/cache/hash_service.py
  tests/unit/app/features/verify/test_database_verifier.py
  tests/unit/app/test_year_update.py
  tests/unit/core/test_retry_handler.py
  tests/unit/metrics/test_change_reports.py
  tests/unit/services/api/test_musicbrainz.py
  tests/unit/services/cache/test_api_cache_service.py
  tests/unit/services/cache/test_cache_config.py
  tests/unit/services/cache/test_fingerprint.py
  tests/unit/services/cache/test_generic_cache_service.py
  tests/unit/services/cache/test_hash_service.py
  tests/unit/services/test_applescript_client.py
Due: ruff-check, ruff-format, ty

chore: configure deadcode tool and update dependencies
  .github/workflows/ci.yml
  config.yaml
  pyproject.toml
  uv.lock
Due: none

fix(script_detection): restore get_all_scripts function
  src/core/models/script_detection.py
Due: ruff-check, ruff-format, ty

test: improve coverage from 87% to 88%
  tests/unit/app/test_pipeline_helpers.py
  tests/unit/core/tracks/test_artist_renamer.py
  tests/unit/services/apple/test_rate_limiter.py
Due: ruff-check, ruff-format

test: improve coverage from 87% to 88% (#152)
  tests/unit/app/test_pipeline_helpers.py
  tests/unit/core/tracks/test_artist_renamer.py
  tests/unit/services/apple/test_rate_limiter.py
Due: ruff-check, ruff-format

fix(year-scoring): prefer original release dates and existing years
  src/services/api/discogs.py
  src/services/api/musicbrainz.py
  src/services/api/orchestrator.py
  src/services/api/year_score_resolver.py
Due: ruff-check, ruff-format, ty

test: remove Last.fm test file
  tests/unit/services/api/test_lastfm.py
Due: ruff-check, ruff-format

feat: remove Last.fm client module
  src/services/api/__init__.py
  src/services/api/lastfm.py
  src/services/api/year_score_resolver.py
Due: ruff-check, ruff-format, ty

refactor(models): remove Last.fm types and config fields
  src/core/models/track_models.py
Due: ruff-check, ruff-format, ty

refactor(coordinator): remove Last.fm from year search
  src/services/api/orchestrator.py
  src/services/api/year_search_coordinator.py
Due: ruff-check, ruff-format, ty

refactor(orchestrator): remove Last.fm client setup
  src/services/api/orchestrator.py
Due: ruff-check, ruff-format, ty

refactor: remove Last.fm from scoring, executor, config, and orchestrator
  src/app/orchestrator.py
  src/core/core_config.py
  src/services/api/request_executor.py
  src/services/api/year_scoring.py
Due: ruff-check, ruff-format, ty

config: remove Last.fm settings
  config.yaml
  my-config.yaml
Due: none

test: remove Last.fm references from all tests
  tests/e2e/test_full_pipeline.py
  tests/integration/services/api/test_external_api_real.py
  tests/integration/test_alternative_search.py
  tests/unit/app/test_music_updater.py
  tests/unit/app/test_orchestrator.py
  tests/unit/core/test_core_config.py
  tests/unit/services/api/test_orchestrator.py
  tests/unit/services/api/test_orchestrator_comprehensive.py
  tests/unit/services/api/test_orchestrator_extended.py
  tests/unit/services/api/test_request_executor.py
  tests/unit/services/api/test_scoring_comprehensive.py
  tests/unit/services/api/test_year_search_coordinator.py
  tests/unit/services/cache/test_api_cache_service.py
  tests/unit/services/cache/test_cache_orchestrator.py
  tests/unit/services/cache/test_hash_service.py
  tests/unit/services/test_dependencies_service_comprehensive.py
Due: ruff-check, ruff-format

chore: final cleanup after Last.fm removal
  src/services/cache/api_cache.py
  tests/unit/services/api/test_request_executor.py
  tests/unit/services/api/test_year_score_resolver.py
Due: ruff-check, ruff-format, ty

feat(year-update): add test_artists filtering
  src/app/year_update.py
Due: ruff-check, ruff-format, ty

feat(year-update): add cleaning/renaming preprocessing
  src/app/year_update.py
Due: ruff-check, ruff-format, ty

refactor(music-updater): inject deps into year_service
  src/app/music_updater.py
Due: ruff-check, ruff-format, ty

feat(genre-update): create standalone genre update service
  src/app/genre_update.py
Due: ruff-check, ruff-format, ty

feat(music-updater): integrate GenreUpdateService
  src/app/music_updater.py
Due: ruff-check, ruff-format, ty

feat(cli): add update_genres standalone command
  src/app/cli.py
  src/app/orchestrator.py
Due: ruff-check, ruff-format, ty

test: add tests for test_artists filtering
  tests/unit/app/test_genre_update.py
  tests/unit/app/test_year_update.py
Due: ruff-check, ruff-format

fix: align test with simplified genre update implementation
  src/app/genre_update.py
  tests/unit/app/test_genre_update.py
Due: ruff-check, ruff-format, ty

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: ^src/ and \.py$
