Repository barad1tos/GenreUpdater: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, ty, pydoclint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [ '--maxkb=500' ]
      - id: check-merge-conflict

  # uv lock sync - ensures uv.lock stays in sync with pyproject.toml
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.12
    hooks:
      - id: uv-lock

  # GitHub Actions security scanner
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.0.1
    hooks:
      - id: zizmor
        args: ['--min-severity', 'medium']  # Ignore informational findings

  # Use local tools from pyproject.toml (single source of truth)
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true

      - id: ty
        name: ty (type checker)
        entry: uv run ty check --python .venv
        language: system
        types: [python]
        files: ^src/
        pass_filenames: false  # ty checks whole project, not individual files

      - id: pydoclint
        name: pydoclint
        entry: uv run pydoclint
        language: system
        types: [python]
        files: ^src/

refactor(cache): split API cache entry parsing out of the loader [no-docs]
  src/services/cache/api_cache.py
  src/services/dependency_container.py
Due: ruff-format, ruff-check, ty, pydoclint

chore(release): prepare v3.1.0
  CHANGELOG.md
Due: none

fix(sync): keep the years the tool wrote in track_list.csv
  src/app/full_sync.py
  src/app/music_updater.py
  src/metrics/track_sync.py
  tests/integration/application/test_music_updater_snapshot.py
  tests/unit/app/test_full_sync.py
  tests/unit/app/test_id_migration.py
  tests/unit/metrics/test_track_sync.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(years): let the providers decide when an album's tracks disagree
  config.yaml
  src/core/models/track_models.py
  src/core/tracks/year_consistency.py
  src/core/tracks/year_determination.py
  src/core/tracks/year_retriever.py
  tests/integration/services/test_dependency_container_integration.py
  tests/regression/test_known_issues.py
  tests/regression/test_year_determination_edge_cases.py
  tests/regression/test_year_logic.py
  tests/unit/core/tracks/test_year_consistency.py
  tests/unit/core/tracks/test_year_consistency_suspicious.py
  tests/unit/core/tracks/test_year_determination_caching.py
  tests/unit/core/tracks/test_year_determination_helpers.py
  tests/unit/core/tracks/test_year_determination_skip.py
  tests/unit/core/tracks/test_year_retriever.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
  tests/unit/core/tracks/test_year_retriever_edge_cases.py
  tools/generate_swift_fixtures.py
Due: ruff-format, ruff-check, ty, pydoclint

refactor(years): drop the unused dominant-year batch path [no-docs]
  src/core/tracks/year_batch.py
  tests/unit/core/tracks/test_year_batch_changes.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
Due: ruff-format, ruff-check, ty, pydoclint

docs(years): describe what decides an album's year
  CHANGELOG.md
  docs/architecture/data-flow.md
  docs/guide/years.md
Due: none

test(years): narrow the optional track fields the IDE flags
  tests/regression/test_known_issues.py
  tests/regression/test_year_determination_edge_cases.py
  tests/regression/test_year_logic.py
  tests/unit/app/test_id_migration.py
  tests/unit/core/tracks/test_year_consistency.py
Due: ruff-format, ruff-check

fix(years): treat a single-track album as consistent [no-docs]
  src/core/tracks/year_determination.py
  tests/regression/test_year_determination_edge_cases.py
  tests/unit/core/tracks/test_year_determination_skip.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(sync): hand the snapshot a copy that carries the year record [no-docs]
  src/core/tracks/track_updater.py
  tests/unit/core/tracks/test_year_batch_changes.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(years): treat no provider answer as no answer [no-docs]
  src/core/models/protocols.py
  src/core/tracks/year_determination.py
  src/services/api/orchestrator.py
  tests/integration/test_year_pipeline.py
  tests/mocks/protocol_mocks.py
  tests/unit/core/tracks/test_year_determination_helpers.py
  tests/unit/core/tracks/test_year_retriever.py
  tests/unit/services/api/test_orchestrator_extended.py
Due: ruff-format, ruff-check, ty, pydoclint

docs(years): cover the placeholder rule and the no-answer fix
  CHANGELOG.md
  docs/guide/years.md
Due: none

test(years): tidy the review-fix tests and split a changelog sentence
  CHANGELOG.md
  tests/regression/test_year_determination_edge_cases.py
  tests/regression/test_year_logic.py
  tests/unit/core/tracks/test_year_determination_helpers.py
Due: ruff-format, ruff-check

fix(years): say what the fallback keeps of Apple's date and tidy the rest
  CHANGELOG.md
  docs/guide/years.md
  src/core/tracks/year_determination.py
  src/metrics/track_sync.py
  tests/regression/test_year_determination_edge_cases.py
  tests/unit/core/tracks/test_year_determination_helpers.py
  tests/unit/core/tracks/test_year_determination_skip.py
  tests/unit/core/tracks/test_year_retriever.py
  tools/generate_swift_fixtures.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(years): leave failed lookups alone and cache only provider years
  CHANGELOG.md
  docs/guide/years.md
  src/core/tracks/year_batch.py
  src/core/tracks/year_consistency.py
  src/core/tracks/year_determination.py
  src/core/tracks/year_retriever.py
  src/metrics/track_sync.py
  src/services/api/orchestrator.py
  tests/integration/test_year_pipeline.py
  tests/unit/core/tracks/test_year_batch_changes.py
  tests/unit/core/tracks/test_year_consistency.py
  tests/unit/core/tracks/test_year_determination_helpers.py
  tests/unit/core/tracks/test_year_determination_skip.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
  tests/unit/metrics/test_track_sync.py
  tests/unit/services/api/test_orchestrator.py
  tests/unit/services/api/test_orchestrator_extended.py
  tests/unit/test_generate_swift_fixtures.py
  tools/generate_swift_fixtures.py
Due: ruff-format, ruff-check, ty, pydoclint

test(api): skip the real nonexistent-album check when a provider is down
  tests/integration/services/api/test_external_api_real.py
Due: ruff-format, ruff-check

fix(years): keep a first write's empty history and count failed lookups
  CHANGELOG.md
  docs/guide/years.md
  src/app/music_updater.py
  src/core/models/protocols.py
  src/core/tracks/year_batch.py
  src/core/tracks/year_determination.py
  src/metrics/track_sync.py
  src/services/api/orchestrator.py
  tests/integration/test_year_pipeline.py
  tests/unit/app/test_music_updater.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/metrics/test_track_sync.py
  tests/unit/test_generate_swift_fixtures.py
Due: ruff-format, ruff-check, ty, pydoclint

chore(release): prepare v3.1.1
  CHANGELOG.md
Due: none
