Repository barad1tos/GenreUpdater: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, ty, pydoclint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [ '--maxkb=500' ]
      - id: check-merge-conflict

  # uv lock sync - ensures uv.lock stays in sync with pyproject.toml
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.12
    hooks:
      - id: uv-lock

  # GitHub Actions security scanner
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.0.1
    hooks:
      - id: zizmor
        args: ['--min-severity', 'medium']  # Ignore informational findings

  # Use local tools from pyproject.toml (single source of truth)
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true

      - id: ty
        name: ty (type checker)
        entry: uv run ty check --python .venv
        language: system
        types: [python]
        files: ^src/
        pass_filenames: false  # ty checks whole project, not individual files

      - id: pydoclint
        name: pydoclint
        entry: uv run pydoclint
        language: system
        types: [python]
        files: ^src/

refactor(config): migrate core year pipeline to typed AppConfig (#210 B3) (#226)
  docs/changelog.md
  src/app/music_updater.py
  src/core/tracks/track_processor.py
  src/core/tracks/update_executor.py
  src/core/tracks/year_batch.py
  src/core/tracks/year_determination.py
  src/core/tracks/year_retriever.py
  src/services/api/orchestrator.py
  src/services/dependency_container.py
  tests/integration/test_year_pipeline.py
  tests/unit/app/test_music_updater.py
  tests/unit/core/tracks/conftest.py
  tests/unit/core/tracks/test_track_processor.py
  tests/unit/core/tracks/test_track_processor_coverage.py
  tests/unit/core/tracks/test_update_executor.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/core/tracks/test_year_batch_prerelease.py
  tests/unit/core/tracks/test_year_determination_caching.py
  tests/unit/core/tracks/test_year_determination_helpers.py
  tests/unit/core/tracks/test_year_determination_skip.py
  tests/unit/core/tracks/test_year_retriever.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
  tests/unit/core/tracks/test_year_retriever_edge_cases.py
  tests/unit/services/api/test_orchestrator.py
  tests/unit/services/api/test_orchestrator_comprehensive.py
  tests/unit/services/api/test_orchestrator_extended.py
  tests/unit/services/api/test_orchestrator_init.py
  tests/unit/services/api/test_orchestrator_shutdown.py
Due: ruff-format, ruff-check, ty, pydoclint

refactor(config): migrate verify, analytics and genre services to AppConfig (#210 B4)
  docs/changelog.md
  src/app/features/verify/database_verifier.py
  src/app/music_updater.py
  src/core/models/track_models.py
  src/core/tracks/genre_manager.py
  src/metrics/analytics.py
  src/services/dependency_container.py
  src/services/pending_verification.py
  tests/e2e/test_cli.py
  tests/integration/application/test_music_updater_snapshot.py
  tests/integration/services/apple/test_applescript_client_real.py
  tests/integration/test_genre_pipeline.py
  tests/integration/test_incremental_pipeline.py
  tests/mocks/csv_mock.py
  tests/unit/app/features/verify/test_database_verifier.py
  tests/unit/core/tracks/test_batch_fetcher_analytics.py
  tests/unit/core/tracks/test_genre_manager.py
  tests/unit/core/tracks/test_track_processor.py
  tests/unit/metrics/test_analytics_batch_mode.py
  tests/unit/metrics/test_analytics_core.py
  tests/unit/services/test_pending_verification_comprehensive.py
  tests/unit/services/test_pending_verification_service.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(config): address Sourcery review on B4 PR
  config.yaml
  docs/changelog.md
  src/core/models/track_models.py
  src/metrics/analytics.py
  tests/e2e/test_cli.py
  tests/unit/app/test_app_config.py
Due: ruff-format, ruff-check, ty, pydoclint

refactor(config): migrate verify, analytics and genre to AppConfig (#210 B4) (#227)
  config.yaml
  docs/changelog.md
  src/app/features/verify/database_verifier.py
  src/app/music_updater.py
  src/core/models/track_models.py
  src/core/tracks/genre_manager.py
  src/metrics/analytics.py
  src/services/dependency_container.py
  src/services/pending_verification.py
  tests/e2e/test_cli.py
  tests/integration/application/test_music_updater_snapshot.py
  tests/integration/services/apple/test_applescript_client_real.py
  tests/integration/test_genre_pipeline.py
  tests/integration/test_incremental_pipeline.py
  tests/mocks/csv_mock.py
  tests/unit/app/features/verify/test_database_verifier.py
  tests/unit/app/test_app_config.py
  tests/unit/core/tracks/test_batch_fetcher_analytics.py
  tests/unit/core/tracks/test_genre_manager.py
  tests/unit/core/tracks/test_track_processor.py
  tests/unit/metrics/test_analytics_batch_mode.py
  tests/unit/metrics/test_analytics_core.py
  tests/unit/services/test_pending_verification_comprehensive.py
  tests/unit/services/test_pending_verification_service.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(api): pass typed config to DiscogsClient
  docs/changelog.md
  src/services/api/orchestrator.py
  tests/integration/test_genre_pipeline.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(ci): resolve format and type errors breaking CI since B1
  docs/changelog.md
  src/app/full_sync.py
  tests/integration/services/api/test_external_api_real.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(config): warn on deprecated top-level test_artists key
  docs/changelog.md
  src/core/models/track_models.py
  tests/unit/app/test_app_config.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(test): address Sourcery feedback on skip guard
  docs/changelog.md
  tests/integration/services/api/test_external_api_real.py
Due: ruff-format, ruff-check

refactor(scoring): migrate ReleaseScorer to typed ScoringConfig
  docs/changelog.md
  src/core/models/track_models.py
  src/services/api/orchestrator.py
  src/services/api/year_scoring.py
  tests/unit/services/api/test_scoring_comprehensive.py
Due: ruff-format, ruff-check, ty, pydoclint

refactor(config): remove DI dict path and dead Config accessors
  docs/changelog.md
  src/app/app_config.py
  src/app/music_updater.py
  src/core/models/album_type.py
  src/core/models/search_strategy.py
  src/core/models/track_models.py
  src/metrics/html_reports.py
  src/services/dependency_container.py
  tests/e2e/test_batch_processing.py
  tests/e2e/test_cli.py
  tests/e2e/test_full_pipeline.py
  tests/integration/application/test_music_updater_snapshot.py
  tests/integration/services/test_dependency_container_integration.py
  tests/integration/test_alternative_search.py
  tests/unit/app/test_app_config.py
  tests/unit/app/test_full_sync.py
  tests/unit/app/test_music_updater.py
  tests/unit/app/test_orchestrator.py
  tests/unit/core/data/test_album_type_detection.py
  tests/unit/core/models/test_search_strategy.py
  tests/unit/metrics/test_html_reports.py
  tests/unit/services/api/test_year_search_rate_limiting.py
  tests/unit/services/test_dependencies_service_comprehensive.py
Due: ruff-format, ruff-check, ty, pydoclint

style: fix ruff format in track_models
  docs/changelog.md
  src/core/models/track_models.py
Due: ruff-format, ruff-check, ty, pydoclint

refactor(config): remove logger dict bridge and migrate to typed AppConfig (#210 C3)
  docs/changelog.md
  src/core/logger.py
  src/core/models/track_models.py
  tests/unit/app/test_year_update.py
  tests/unit/core/data/test_repair.py
  tests/unit/core/test_logger.py
  tests/unit/core/test_run_tracking.py
Due: ruff-format, ruff-check, ty, pydoclint

refactor(config): accept ApiAuthConfig directly in validate_api_auth
  docs/changelog.md
  pyproject.toml
  src/core/core_config.py
  src/services/dependency_container.py
  tests/unit/core/test_core_config.py
Due: ruff-format, ruff-check, ty, pydoclint

test: add scoring coverage and fix Sourcery warnings
  docs/changelog.md
  tests/unit/app/test_year_update.py
  tests/unit/services/api/test_scoring_comprehensive.py
Due: ruff-format, ruff-check

refactor: consolidate duplicate types (#212)
  docs/changelog.md
  src/core/models/track_models.py
  src/services/api/__init__.py
  src/services/api/api_base.py
  src/services/api/orchestrator.py
  src/services/api/request_executor.py
  src/services/apple/__init__.py
  src/services/apple/applescript_client.py
  src/services/apple/applescript_executor.py
  src/services/apple/rate_limiter.py
  tests/integration/services/api/test_api_orchestrator_integration.py
  tests/unit/services/api/test_request_executor.py
  tests/unit/services/api/test_scoring_comprehensive.py
  tests/unit/services/apple/test_rate_limiter.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(test): restore logger kwarg in rate limiter test
  docs/changelog.md
  tests/unit/services/apple/test_rate_limiter.py
Due: ruff-format, ruff-check

refactor(error): narrow broad catches (#214)
  docs/changelog.md
  src/app/features/crypto/encryption.py
  src/app/pipeline_snapshot.py
  src/app/year_update.py
  src/core/logger.py
  src/core/tracks/batch_fetcher.py
  src/core/tracks/incremental_filter.py
  src/core/tracks/update_executor.py
  src/services/api/musicbrainz.py
  src/services/cache/api_cache.py
  src/services/cache/generic_cache.py
  tests/unit/app/test_pipeline_snapshot.py
  tests/unit/core/tracks/test_update_executor.py
Due: ruff-format, ruff-check, ty, pydoclint

test: add coverage for narrowed exception handlers (#214)
  docs/changelog.md
  tests/unit/core/test_logger.py
  tests/unit/core/tracks/test_batch_fetcher_analytics.py
  tests/unit/core/tracks/test_incremental_filter.py
  tests/unit/services/api/test_musicbrainz.py
  tests/unit/services/cache/test_api_cache_service.py
  tests/unit/services/cache/test_generic_cache_service.py
Due: ruff-format, ruff-check

fix(test): replace dict config with AppConfig in incremental filter test
  docs/changelog.md
  tests/unit/core/tracks/test_incremental_filter.py
Due: ruff-format, ruff-check

perf(logging): replace f-string logging with lazy % formatting (#216)
  CHANGELOG.md
  pyproject.toml
  src/metrics/analytics.py
  src/services/api/discogs.py
  src/services/api/musicbrainz.py
  src/services/api/year_search_coordinator.py
  src/services/apple/rate_limiter.py
  src/services/dependency_container.py
  src/services/pending_verification.py
  src/stubs/cryptography/secure_config.py
Due: ruff-format, ruff-check, ty, pydoclint

test: add coverage for lazy % logging paths (#216)
  CHANGELOG.md
  tests/unit/metrics/test_analytics_core.py
  tests/unit/services/api/test_discogs.py
  tests/unit/services/api/test_musicbrainz.py
  tests/unit/services/api/test_year_search_coordinator.py
Due: ruff-format, ruff-check

docs: add god class decomposition design (#218)
  docs/plans/2026-02-13-decompose-god-classes-design.md
Due: none

refactor(year-batch): decompose god class into focused modules (#218)
  docs/changelog.md
  src/core/tracks/prerelease_handler.py
  src/core/tracks/track_updater.py
  src/core/tracks/year_batch.py
  tests/unit/core/tracks/conftest.py
  tests/unit/core/tracks/test_year_batch_changes.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/core/tracks/test_year_batch_prerelease.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
  tests/unit/core/tracks/test_year_retriever_edge_cases.py
Due: ruff-format, ruff-check, ty, pydoclint

docs(tests): fix stale docstrings after god class decomposition (#218)
  docs/changelog.md
  tests/unit/core/tracks/test_year_batch_changes.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
Due: ruff-format, ruff-check

chore(tests): remove dead test infrastructure (#219)
  docs/changelog.md
  tests/regression/conftest.py
  tests/unit/core/monitoring/__init__.py
  tests/unit/core/tracks/test_year_retriever_edge_cases.py
Due: ruff-format, ruff-check

test: add coverage for 4 untested modules (#219)
  docs/changelog.md
  tests/unit/core/tracks/test_track_base.py
  tests/unit/core/tracks/test_year_utils.py
  tests/unit/services/apple/test_applescript_executor.py
  tests/unit/services/cache/test_json_utils.py
Due: ruff-format, ruff-check

fix(tests): add assertions to 16 assertion-free tests (#219)
  docs/changelog.md
  tests/regression/test_genre_manager_edge_cases.py
  tests/regression/test_year_determination_edge_cases.py
  tests/unit/app/test_pipeline_snapshot.py
  tests/unit/core/tracks/test_track_processor_coverage.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
  tests/unit/metrics/test_analytics_core.py
  tests/unit/metrics/test_html_reports.py
  tests/unit/metrics/test_track_sync.py
  tests/unit/services/api/test_request_executor.py
Due: ruff-format, ruff-check

fix(tests): triage e2e/integration assertion-free tests (#219)
  docs/changelog.md
  tests/e2e/test_full_pipeline.py
  tests/integration/services/api/test_api_orchestrator_integration.py
Due: ruff-format, ruff-check

style: format new test files for CI
  docs/changelog.md
  tests/unit/services/apple/test_applescript_executor.py
  tests/unit/services/cache/test_json_utils.py
Due: ruff-format, ruff-check

refactor: remove dead code — pipeline_helpers, re-exports, singleton, clear_dry_run (#220)
  docs/changelog.md
  src/app/pipeline_helpers.py
  src/core/models/__init__.py
  src/core/tracks/track_base.py
  src/services/api/__init__.py
  src/services/apple/__init__.py
  src/services/cache/snapshot.py
  src/services/dependency_container.py
  tests/unit/app/test_pipeline_helpers.py
  tests/unit/core/tracks/test_track_base.py
  tests/unit/services/test_applescript_client.py
Due: ruff-format, ruff-check, ty, pydoclint

style(docs): polish docstrings and code for production readiness
  README.md
  src/app/cli.py
  src/core/core_config.py
  src/core/logger.py
  src/core/models/validators.py
  src/core/tracks/year_fallback.py
  src/metrics/analytics.py
  src/metrics/change_reports.py
  src/services/api/api_base.py
  src/services/apple/applescript_client.py
  src/services/apple/sanitizer.py
  src/services/dependency_container.py
  src/services/pending_verification.py
Due: ruff-format, ruff-check, ty, pydoclint

docs: update architecture diagram, directory structure, and config table formatting
  README.md
  docs/architecture/overview.md
  tests/unit/core/monitoring/__init__.py
Due: ruff-format, ruff-check

fix(docs): use text lang tag for tree block
  docs/architecture/overview.md
Due: none

fix(core): replace silent contextlib.suppress with explicit error handling
  docs/changelog.md
  src/core/tracks/year_determination.py
  src/core/tracks/year_fallback.py
  src/services/api/applemusic.py
  src/services/api/orchestrator.py
Due: ruff-format, ruff-check, ty, pydoclint

style: remove ASCII art separators per CLAUDE.md
  docs/changelog.md
  src/app/features/verify/database_verifier.py
  src/core/logger.py
  src/core/models/album_type.py
  src/core/tracks/track_processor.py
  src/core/tracks/year_retriever.py
  src/metrics/analytics.py
  src/metrics/track_sync.py
  src/services/cache/orchestrator.py
  src/services/cache/snapshot.py
Due: ruff-format, ruff-check, ty, pydoclint

refactor(full_sync): migrate post-init print() to logger
  docs/changelog.md
  src/app/full_sync.py
  tests/unit/app/test_full_sync.py
Due: ruff-format, ruff-check, ty, pydoclint

test: cover except branches for codecov patch target
  docs/changelog.md
  tests/unit/core/tracks/test_year_determination_skip.py
  tests/unit/core/tracks/test_year_fallback_api_validation.py
  tests/unit/services/api/test_applemusic.py
  tests/unit/services/api/test_orchestrator_extended.py
Due: ruff-format, ruff-check

test(api): cover missing-year branch in future-year stats
  docs/changelog.md
  tests/unit/services/api/test_orchestrator_extended.py
Due: ruff-format, ruff-check

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none
