Repository barad1tos/GenreUpdater: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, ty, pydoclint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [ '--maxkb=500' ]
      - id: check-merge-conflict

  # uv lock sync - ensures uv.lock stays in sync with pyproject.toml
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.12
    hooks:
      - id: uv-lock

  # GitHub Actions security scanner
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.0.1
    hooks:
      - id: zizmor
        args: ['--min-severity', 'medium']  # Ignore informational findings

  # Use local tools from pyproject.toml (single source of truth)
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true

      - id: ty
        name: ty (type checker)
        entry: uv run ty check --python .venv
        language: system
        types: [python]
        files: ^src/
        pass_filenames: false  # ty checks whole project, not individual files

      - id: pydoclint
        name: pydoclint
        entry: uv run pydoclint
        language: system
        types: [python]
        files: ^src/

fix(daemon): keep quoted and relative state paths intact on repoint
  launchctl/bin/install.sh
Due: none

fix(daemon): repoint scripts and state paths on every install
  CHANGELOG.md
  docs/guide/automation.md
  launchctl/SERVICE_README.md
  launchctl/bin/install.sh
Due: none

fix(pipeline): fail the run when a known library fetches no tracks
  CHANGELOG.md
  src/app/music_updater.py
  tests/unit/app/test_music_updater.py
  tests/unit/test_main.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(pipeline): let --fresh record a library that became empty
  CHANGELOG.md
  src/app/music_updater.py
  tests/unit/app/test_music_updater.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(security): redact token keys in any case, drop dead encryption
  CHANGELOG.md
  src/core/core_config.py
  src/services/api/orchestrator.py
  tests/unit/core/test_core_config.py
  tests/unit/services/api/test_orchestrator_init.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(security): keep the Discogs token out of logs
  CHANGELOG.md
  src/core/core_config.py
  src/services/api/orchestrator.py
  src/services/api/request_executor.py
  tests/unit/core/test_core_config.py
  tests/unit/services/api/test_orchestrator_init.py
  tests/unit/services/api/test_request_executor.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(pending): hold the save lock until a cancelled write ends
  src/services/pending_verification.py
  tests/unit/services/test_pending_verification_service.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(pending): serialize queue saves so concurrent marks persist
  CHANGELOG.md
  src/services/pending_verification.py
  tests/unit/services/test_pending_verification_service.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(daemon): skip quietly when Music.app is not running
  CHANGELOG.md
  launchctl/SERVICE_README.md
  launchctl/bin/run-daemon.sh
  main.py
  src/app/orchestrator.py
  tests/e2e/test_cli.py
  tests/unit/app/test_orchestrator.py
  tests/unit/test_main_exit_codes.py
Due: ruff-format, ruff-check, ty, pydoclint

test(e2e): patch the Music.app check where the orchestrator uses it
  CHANGELOG.md
  tests/e2e/test_cli.py
Due: ruff-format, ruff-check

fix(security): log an allowlist of request headers, not a redacted copy
  src/services/api/request_executor.py
Due: ruff-format, ruff-check, ty, pydoclint

test(e2e): report Music.app as running behind the orchestrator too
  tests/e2e/test_cli.py
Due: ruff-format, ruff-check

chore(sourcery): scope the test-import rule to production code
  .sourcery.yaml
  tests/e2e/test_batch_processing.py
  tests/e2e/test_cli.py
  tests/e2e/test_full_pipeline.py
  tests/integration/services/api/test_api_orchestrator_integration.py
  tests/integration/test_alternative_search.py
  tests/integration/test_genre_pipeline.py
  tests/integration/test_incremental_pipeline.py
  tests/integration/test_year_pipeline.py
  tests/mocks/csv_mock.py
  tests/unit/app/features/verify/test_database_verifier.py
  tests/unit/app/test_genre_update.py
  tests/unit/app/test_track_cleaning.py
  tests/unit/app/test_year_update.py
  tests/unit/core/test_logger.py
  tests/unit/core/tracks/conftest.py
  tests/unit/core/tracks/test_batch_fetcher_analytics.py
  tests/unit/core/tracks/test_genre_manager.py
  tests/unit/core/tracks/test_incremental_filter.py
  tests/unit/core/tracks/test_track_base.py
  tests/unit/core/tracks/test_track_processor.py
  tests/unit/core/tracks/test_track_processor_coverage.py
  tests/unit/core/tracks/test_update_executor.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/core/tracks/test_year_batch_prerelease.py
  tests/unit/core/tracks/test_year_plausibility.py
  tests/unit/core/tracks/test_year_retriever.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
  tests/unit/core/tracks/test_year_retriever_edge_cases.py
  tests/unit/metrics/test_analytics_batch_mode.py
  tests/unit/metrics/test_analytics_core.py
  tests/unit/services/api/test_discogs.py
  tests/unit/services/api/test_orchestrator.py
  tests/unit/services/api/test_orchestrator_comprehensive.py
  tests/unit/services/api/test_orchestrator_init.py
  tests/unit/services/api/test_orchestrator_shutdown.py
  tests/unit/services/api/test_year_search_rate_limiting.py
  tests/unit/services/test_pending_verification_comprehensive.py
  tests/unit/services/test_pending_verification_service.py
Due: ruff-format, ruff-check

refactor: clear the remaining Sourcery suggestions [no-docs]
  src/services/api/musicbrainz.py
  src/services/cache/generic_cache.py
  tests/regression/test_data_quality.py
  tests/regression/test_known_issues.py
  tests/test_docs.py
  tests/unit/app/test_music_updater.py
  tests/unit/services/api/test_year_search_coordinator.py
  tests/unit/services/cache/test_library_snapshot_service.py
Due: ruff-format, ruff-check, ty, pydoclint

test(updater): assert the report and year lookup the stubs only named
  tests/unit/app/test_music_updater.py
Due: ruff-format, ruff-check

test(updater): drive the main pipeline through the year lookup
  tests/unit/app/test_music_updater.py
Due: ruff-format, ruff-check

chore(config): stop tracking the personal my-config.yaml
  .gitignore
  my-config.yaml
Due: none

fix(daemon): pass notification text to osascript as arguments
  docs/changelog.md
  launchctl/bin/notify.sh
  tests/unit/test_notify_script.py
Due: ruff-format, ruff-check

chore(deps): bump aiohttp to 3.14.4 and orjson to 3.13.0
  pyproject.toml
  uv.lock
Due: none

fix(daemon): don't fail a boot-time run before the network is up
  CHANGELOG.md
  launchctl/SERVICE_README.md
  launchctl/bin/run-daemon.sh
  tests/unit/test_run_daemon_script.py
Due: ruff-format, ruff-check

fix(daemon): skip an offline run instead of using stale tags
  CHANGELOG.md
  launchctl/SERVICE_README.md
  launchctl/bin/run-daemon.sh
  tests/unit/test_run_daemon_script.py
Due: ruff-format, ruff-check

fix(daemon): keep fetch failures loud and bounded while offline-aware
  CHANGELOG.md
  launchctl/SERVICE_README.md
  launchctl/bin/common.sh
  launchctl/bin/run-daemon.sh
  tests/unit/test_run_daemon_script.py
Due: ruff-format, ruff-check

fix(daemon): name a timed-out fetch and align the fetch docs
  CHANGELOG.md
  launchctl/SERVICE_README.md
  launchctl/bin/run-daemon.sh
  tests/unit/test_run_daemon_script.py
Due: ruff-format, ruff-check

fix(daemon): report git's real fetch error and cap only the daemon
  CHANGELOG.md
  launchctl/SERVICE_README.md
  launchctl/bin/common.sh
  launchctl/bin/run-daemon.sh
  tests/unit/test_run_daemon_script.py
Due: ruff-format, ruff-check

test(daemon): guard the full git output in daemon.log
  launchctl/SERVICE_README.md
  tests/unit/test_run_daemon_script.py
Due: ruff-format, ruff-check

build: move Dependabot, CI and the daemon to uv-native installs
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/diagnostics.yml
  .github/workflows/docs.yml
  .github/workflows/nightly.yml
  CHANGELOG.md
  launchctl/SERVICE_README.md
  launchctl/bin/install.sh
  launchctl/bin/run-daemon.sh
  tests/unit/test_run_daemon_script.py
Due: ruff-format, ruff-check

build: finish the uv move in docs, diagnostics and the flags test
  .github/workflows/diagnostics.yml
  CHANGELOG.md
  CONTRIBUTING.md
  docs/guide/automation.md
  tests/unit/test_run_daemon_script.py
Due: ruff-format, ruff-check

ci: run CI on every pull request so Gate can be required
  .github/workflows/ci.yml
Due: none

ci: say why pull_request has no paths-ignore
  .github/workflows/ci.yml
Due: none

docs: drop the last mypy references
  CHANGELOG.md
  CONTRIBUTING.md
  src/metrics/change_reports.py
Due: ruff-format, ruff-check, ty, pydoclint

ci: gate on dependencies a PR adds, scan main with Trivy
  .github/workflows/ci.yml
  .github/workflows/trivy.yml
Due: none

ci: keep secret scanning in Gate and harden the new checks
  .github/workflows/ci.yml
  .github/workflows/trivy.yml
Due: none

docs: name the yielded type in two Yields sections for pydoclint 0.11
  src/core/logger.py
  src/core/retry_handler.py
Due: ruff-format, ruff-check, ty, pydoclint

build(deps): require pydoclint 0.9 or newer for the yield-type check
  pyproject.toml
  uv.lock
Due: none

test: seal the snapshot container and share the processor stand-in
  CHANGELOG.md
  tests/factories.py
  tests/integration/application/test_music_updater_snapshot.py
  tests/integration/test_genre_pipeline.py
  tests/integration/test_year_pipeline.py
  tests/unit/core/tracks/test_genre_manager_additional.py
Due: ruff-format, ruff-check

test: give the snapshot test a container shaped like the real one
  tests/integration/application/test_music_updater_snapshot.py
Due: ruff-format, ruff-check

build(types): run ty from its config and point editors at ty
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/contributing.md
  tests/unit/core/tracks/test_year_retriever_coverage.py
Due: ruff-format, ruff-check

build(types): type-check the tests with ty and drop basedpyright
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/contributing.md
  pyproject.toml
  src/app/cli.py
  stubs/mkdocs_gen_files/__init__.pyi
  tests/e2e/test_batch_processing.py
  tests/integration/application/test_music_updater_snapshot.py
  tests/integration/test_genre_pipeline.py
  tests/integration/test_incremental_pipeline.py
  tests/integration/test_year_pipeline.py
  tests/integration/test_year_plausibility_integration.py
  tests/unit/app/test_music_updater.py
  tests/unit/core/test_core_config.py
  tests/unit/core/test_metadata.py
  tests/unit/core/tracks/test_genre_manager.py
  tests/unit/core/tracks/test_genre_manager_additional.py
  tests/unit/core/tracks/test_incremental_filter.py
  tests/unit/core/tracks/test_year_retriever.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
  tests/unit/core/tracks/test_year_retriever_edge_cases.py
  tests/unit/metrics/test_track_sync.py
  tests/unit/services/api/test_discogs.py
  tests/unit/services/api/test_musicbrainz.py
  tests/unit/services/api/test_orchestrator.py
  tests/unit/services/api/test_orchestrator_comprehensive.py
  tests/unit/services/api/test_orchestrator_init.py
  tests/unit/services/api/test_year_score_resolver.py
  tests/unit/services/cache/test_csv_benchmark.py
  tests/unit/services/cache/test_fingerprint.py
  tests/unit/services/cache/test_library_snapshot_service.py
  tests/unit/services/test_applescript_client.py
  uv.lock
Due: ruff-format, ruff-check, ty, pydoclint

test: read the year boundary at call time and run ty on stub changes
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  docs/contributing.md
  src/app/cli.py
  tests/integration/application/test_music_updater_snapshot.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
Due: ruff-format, ruff-check, ty, pydoclint

docs: say what ty covers now and why the new test doubles look as they do
  CHANGELOG.md
  CONTRIBUTING.md
  docs/contributing.md
  src/app/cli.py
  tests/integration/application/test_music_updater_snapshot.py
  tests/integration/test_year_plausibility_integration.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
  tests/unit/services/cache/test_csv_benchmark.py
Due: ruff-format, ruff-check, ty, pydoclint
