Repository barad1tos/GenreUpdater: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, ty

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system
  pass_filenames: true

ty:
  name: ty (type checker)
  entry: uv run ty check --python .venv
  language: system
  pass_filenames: false

feat(year): add restore_release_years command and release_year validation
  src/app/cli.py
  src/app/music_updater.py
  src/app/orchestrator.py
  src/app/year_update.py
  src/core/tracks/track_processor.py
  src/core/tracks/year_determination.py
  src/core/tracks/year_fallback.py
  src/services/api/request_executor.py
  tests/unit/app/test_year_update.py
Due: ruff-check, ruff-format, ty

chore(deps): upgrade urllib3 to 2.6.3 for CVE-2026-21441 fix
  uv.lock
Due: none

fix: address valid Sourcery review comments
  src/app/orchestrator.py
  src/services/pending_verification.py
Due: ruff-check, ruff-format, ty

fix: remove duplicate comment in year_fallback.py (Copilot review)
  src/core/tracks/year_fallback.py
Due: ruff-check, ruff-format, ty

fix(config): rename source_itunes_penalty to source_itunes_bonus
  config.yaml
Due: none

fix(scoring): apply iTunes reissue penalty before scoring, not after
  src/core/tracks/year_batch.py
  src/core/tracks/year_determination.py
  src/services/api/api_base.py
  src/services/api/applemusic.py
Due: ruff-check, ruff-format, ty

refactor: use contextlib.suppress instead of try/except pass
  src/core/tracks/year_determination.py
  src/services/api/applemusic.py
Due: ruff-check, ruff-format, ty

test(year-determination): add reissue detection coverage tests
  tests/unit/core/tracks/test_year_determination_skip.py
Due: ruff-check, ruff-format

docs(logger): add complete docstrings to 9 utility functions
  src/core/logger.py
Due: ruff-check, ruff-format, ty

docs(core): add docstrings to _read_and_parse_config, initialize, get_actions
  src/core/core_config.py
  src/core/dry_run.py
Due: ruff-check, ruff-format, ty

docs(rate_limiter): complete EnhancedRateLimiter documentation
  src/services/apple/rate_limiter.py
Due: ruff-check, ruff-format, ty

docs(metadata): convert to Google style and add missing docstrings
  src/core/models/metadata_utils.py
Due: ruff-check, ruff-format, ty

docs(cache): add docstrings to private config methods
  src/services/cache/cache_config.py
  src/services/cache/generic_cache.py
Due: ruff-check, ruff-format, ty

docs(music_updater): add docstring to _resolve_artist_rename_config_path
  src/app/music_updater.py
Due: ruff-check, ruff-format, ty

docs(logger): complete class and function documentation
  src/core/logger.py
Due: ruff-check, ruff-format, ty

docs(logger): fix get_loggers Raises section for griffe compatibility
  src/core/logger.py
Due: ruff-check, ruff-format, ty

fix(pydantic): use direct field assignment instead of __dict__ mutation
  src/core/models/metadata_utils.py
  src/core/tracks/artist_renamer.py
  src/core/tracks/update_executor.py
Due: ruff-check, ruff-format, ty

fix(snapshot): use object.__setattr__ for dynamic field fallback
  src/app/pipeline_snapshot.py
Due: ruff-check, ruff-format, ty

docs(mkdocs): remove duplicate Code Reference section
  mkdocs.yml
Due: none

docs(genres): fix algorithm description to match earliest-album implementation
  docs/guide/genres.md
Due: none

docs(years): fix confidence thresholds to match code (≥70 for auto-apply)
  docs/guide/years.md
Due: none

docs(caching): fix TTL values to match code defaults (5 min, configurable)
  docs/architecture/caching.md
Due: none

docs(architecture): remove Last.fm references (not implemented)
  docs/architecture/data-flow.md
  docs/architecture/overview.md
Due: none

docs(readme): add 6 missing CLI commands
  README.md
Due: none

docs(changelog): mark unreleased changes as 3.0.0
  docs/changelog.md
Due: none

docs(years): fix compilation penalty value (-25, not -35)
  docs/guide/years.md
Due: none

docs(applescript): convert run_script() to Google-style docstring
  src/services/apple/applescript_client.py
Due: ruff-check, ruff-format, ty

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: ^src/ and \.py$
