Repository barad1tos/GenreUpdater: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, ty

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system
  pass_filenames: true

ty:
  name: ty (type checker)
  entry: uv run ty check --python .venv
  language: system
  pass_filenames: false

fix(test): resolve type errors in Issue #93 tests
  tests/unit/core/tracks/test_year_fallback_api_validation.py
Due: ruff-check, ruff-format

fix(test): double-cast mock through object
  tests/unit/core/tracks/test_year_fallback_api_validation.py
Due: ruff-check, ruff-format

fix(ci): handle initial gh-pages creation
  .github/workflows/mutation-testing.yml
Due: none

fix(ci): handle initial gh-pages creation (#119)
  .github/workflows/mutation-testing.yml
Due: none

fix(mutmut): resolve xdist + mutmut config clash
  pyproject.toml
Due: none

fix(mutmut): resolve xdist + mutmut config clash (#120)
  pyproject.toml
Due: none

fix(mutmut): patch trampoline bug + re-enable xdist
  pyproject.toml
  tests/conftest.py
Due: ruff-check, ruff-format

fix(mutmut): patch trampoline bug + re-enable (#121)
  pyproject.toml
  tests/conftest.py
Due: ruff-check, ruff-format

fix(mutmut): disable xdist for stats phase
  pyproject.toml
  tests/conftest.py
Due: ruff-check, ruff-format

fix(mutmut): disable xdist for stats phase (#122)
  pyproject.toml
  tests/conftest.py
Due: ruff-check, ruff-format

chore: remove mutmut mutation testing
  .github/workflows/mutation-testing.yml
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: ruff-check, ruff-format

chore: remove mutmut mutation testing (#123)
  .github/workflows/mutation-testing.yml
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: ruff-check, ruff-format

chore: remove mutation testing remnants
  .github/workflows/pages.yml
  .gitignore
  docs/mutation-dashboard/history.json
  docs/mutation-dashboard/index.html
Due: none

chore: remove mutation testing remnants (#124)
  .github/workflows/pages.yml
  .gitignore
  docs/mutation-dashboard/history.json
  docs/mutation-dashboard/index.html
Due: none

chore(deps): bump ty 0.0.6 → 0.0.7
  pyproject.toml
  uv.lock
Due: none

fix(config): correct config file precedence
  src/app/app_config.py
  src/app/full_sync.py
  tests/unit/app/test_app_config.py
Due: ruff-check, ruff-format, ty

feat(scripts): add CSV header migration script
  scripts/migrate_csv_headers.py
Due: ruff-check, ruff-format

fix(daemon): align track count w/ pipeline
  applescripts/count_modifiable_tracks.applescript
  launchctl/SERVICE_README.md
  launchctl/bin/run-daemon.sh
Due: none

refactor(daemon): remove business logic
  launchctl/SERVICE_README.md
  launchctl/bin/run-daemon.sh
Due: none

perf(sync): eliminate double-fetch in full_sync
  src/core/models/metadata_utils.py
  src/metrics/track_sync.py
  tests/unit/metrics/test_track_sync.py
Due: ruff-check, ruff-format, ty

fix(snapshot): correct AppleScript field parsing
  src/services/cache/snapshot.py
  tests/unit/services/cache/test_library_snapshot_service.py
Due: ruff-check, ruff-format, ty

docs: fix misleading new_year comments (#88)
  applescripts/fetch_tracks.applescript
  applescripts/fetch_tracks_by_ids.applescript
  src/metrics/track_sync.py
Due: ruff-check, ruff-format, ty

fix: address Sourcery review feedback (#128)
  applescripts/count_modifiable_tracks.applescript
  scripts/migrate_csv_headers.py
  src/services/apple/applescript_client.py
  tests/unit/metrics/test_track_sync.py
Due: ruff-check, ruff-format, ty

test: remove year_set_by_mgu assertion
  tests/unit/services/apple/test_applescript_client_coverage.py
Due: ruff-check, ruff-format

fix(grouping): use album_artist for genre consistency
  src/core/models/metadata_utils.py
  tests/unit/core/test_metadata.py
Due: ruff-check, ruff-format, ty

fix(scripts): resolve basedpyright warnings
  .mutmut-cache
  scripts/migrate_csv_headers.py
Due: ruff-check, ruff-format

chore: fix file permissions and linting
  launchctl/bin/sync-fixtures.sh
Due: none

refactor(year): reduce cognitive complexity
  src/app/cli.py
  src/core/models/year_repair.py
  src/core/tracks/year_determination.py
Due: ruff-check, ruff-format, ty

test(year): add coverage for helper methods
  tests/unit/core/tracks/test_year_determination_helpers.py
Due: ruff-check, ruff-format

refactor(year): reduce cognitive complexity (#130)
  .mutmut-cache
  launchctl/bin/sync-fixtures.sh
  scripts/migrate_csv_headers.py
  src/app/cli.py
  src/core/models/year_repair.py
  src/core/tracks/year_determination.py
  tests/unit/core/tracks/test_year_determination_helpers.py
Due: ruff-check, ruff-format, ty

feat(verify): add INFO log for auto-verify status
  src/app/orchestrator.py
Due: ruff-check, ruff-format, ty

fix(test): remove phantom validation test cases
  tests/unit/services/api/test_orchestrator.py
Due: ruff-check, ruff-format

fix(daemon): add trailing newline before commit
  launchctl/bin/sync-fixtures.sh
Due: none

chore: add Sourcery config to ignore large fixtures
  .sourcery.yaml
Due: none

fix(tests): correct malformed test name and remove stale TODO
  tests/unit/core/test_logger.py
Due: ruff-check, ruff-format

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: ^src/ and \.py$
