Repository barad1tos/GenreUpdater: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, ty

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system
  pass_filenames: true

ty:
  name: ty (type checker)
  entry: uv run ty check --python .venv
  language: system
  pass_filenames: false

test: add coverage for invalid prerelease_handling config
  tests/unit/core/tracks/test_year_batch_prerelease.py
Due: ruff-check, ruff-format

refactor(year_batch): extract prerelease handling + hoist conditional
  src/core/tracks/year_batch.py
Due: ruff-check, ruff-format, ty

test+refactor: coverage for invalid config + reduce cognitive complexity (#184)
  src/core/tracks/year_batch.py
  tests/unit/core/tracks/test_year_batch_prerelease.py
Due: ruff-check, ruff-format, ty

feat(swift-helper): add Swift daemon for Music.app integration
  config.yaml
  src/services/apple/__init__.py
  src/services/apple/swift_bridge.py
  src/services/dependency_container.py
  swift-helper/.gitignore
  swift-helper/Package.swift
  swift-helper/Sources/MusicHelper/Music/CloudStatusFilter.swift
  swift-helper/Sources/MusicHelper/Music/MusicAppBridge.swift
  swift-helper/Sources/MusicHelper/Music/TrackSerializer.swift
  swift-helper/Sources/MusicHelper/Protocol/ErrorCodes.swift
  swift-helper/Sources/MusicHelper/Protocol/Request.swift
  swift-helper/Sources/MusicHelper/Protocol/Response.swift
  swift-helper/Sources/MusicHelper/Server/RequestRouter.swift
  swift-helper/Sources/MusicHelper/Server/UnixSocketServer.swift
  swift-helper/Sources/MusicHelper/main.swift
  swift-helper/build.sh
  swift-helper/build/music-helper
Due: ruff-check, ruff-format, ty

fix(git): restore broken commit-msg hook for conventional commits
  tools/git-hooks/commit-msg
Due: none

fix(git): enforce 55-char hard limit in hook
  tools/git-hooks/commit-msg
Due: none

Revert "feat(swift-helper): add Swift daemon for Music.app integration"
  config.yaml
  src/services/apple/__init__.py
  src/services/apple/swift_bridge.py
  src/services/dependency_container.py
  swift-helper/.gitignore
  swift-helper/Package.swift
  swift-helper/Sources/MusicHelper/Music/CloudStatusFilter.swift
  swift-helper/Sources/MusicHelper/Music/MusicAppBridge.swift
  swift-helper/Sources/MusicHelper/Music/TrackSerializer.swift
  swift-helper/Sources/MusicHelper/Protocol/ErrorCodes.swift
  swift-helper/Sources/MusicHelper/Protocol/Request.swift
  swift-helper/Sources/MusicHelper/Protocol/Response.swift
  swift-helper/Sources/MusicHelper/Server/RequestRouter.swift
  swift-helper/Sources/MusicHelper/Server/UnixSocketServer.swift
  swift-helper/Sources/MusicHelper/main.swift
  swift-helper/build.sh
  swift-helper/build/music-helper
Due: ruff-check, ruff-format, ty

feat(config): support comma-separated test_artists
  src/core/models/track_models.py
Due: ruff-check, ruff-format, ty

fix(ci): add missing env vars to nightly workflow
  .github/workflows/nightly.yml
Due: none

fix(config): validate test_artists input types
  src/core/models/track_models.py
Due: ruff-check, ruff-format, ty

fix(config): strict type validation for test_artists
  src/core/models/track_models.py
  tests/unit/core/test_core_config.py
Due: ruff-check, ruff-format, ty

fix(test): expect TypeError directly in CI
  tests/unit/core/test_core_config.py
Due: ruff-check, ruff-format

fix(config): validate test_artists input types (#186)
  src/core/models/track_models.py
  tests/unit/core/test_core_config.py
Due: ruff-check, ruff-format, ty

fix(core): stabilize API cache, genre batching, asyncio patterns
  src/app/features/verify/database_verifier.py
  src/core/tracks/genre_manager.py
  src/services/api/request_executor.py
  src/services/pending_verification.py
Due: ruff-check, ruff-format, ty

chore(deps): update outdated packages
  pyproject.toml
  uv.lock
Due: none

fix(genre): warn when global semaphore not provided
  src/core/tracks/genre_manager.py
Due: ruff-check, ruff-format, ty

fix(core): API cache stability, genre concurrency, deps update (#187)
  pyproject.toml
  src/app/features/verify/database_verifier.py
  src/core/tracks/genre_manager.py
  src/services/api/request_executor.py
  src/services/pending_verification.py
  uv.lock
Due: ruff-check, ruff-format, ty

Revert "fix(core): API cache stability, genre concurrency, deps update (#187)"
  pyproject.toml
  src/app/features/verify/database_verifier.py
  src/core/tracks/genre_manager.py
  src/services/api/request_executor.py
  src/services/pending_verification.py
  uv.lock
Due: ruff-check, ruff-format, ty

test(genre): cover empty tracks and semaphore paths
  tests/unit/core/tracks/test_genre_manager.py
Due: ruff-check, ruff-format

refactor(genre): require applescript_semaphore param
  src/core/tracks/genre_manager.py
  tests/unit/core/tracks/test_genre_manager.py
Due: ruff-check, ruff-format, ty

refactor(tests): migrate year_batch tests to shared fixtures
  docs/changelog.md
  tests/unit/core/tracks/test_year_batch_changes.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/core/tracks/test_year_batch_prerelease.py
  tests/unit/core/tracks/test_year_determination_skip.py
Due: ruff-check, ruff-format

test(year_batch): add batch error handling coverage
  docs/changelog.md
  tests/unit/core/tracks/test_year_batch_error_handling.py
Due: ruff-check, ruff-format

test(security): add service boundary security tests
  docs/changelog.md
  tests/unit/app/test_cli_security.py
  tests/unit/services/api/test_api_boundary_security.py
  tests/unit/services/cache/test_hash_service_security.py
Due: ruff-check, ruff-format

test(property): add Hypothesis property-based tests
  docs/changelog.md
  pyproject.toml
  tests/conftest.py
  tests/unit/core/models/test_validators_property.py
  tests/unit/services/cache/test_hash_service_property.py
  uv.lock
Due: ruff-check, ruff-format

style(tests): fix TC001 and S106 lint errors in test files
  docs/changelog.md
  tests/unit/core/tracks/test_year_batch_changes.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/core/tracks/test_year_determination_skip.py
  tests/unit/services/api/test_api_boundary_security.py
Due: ruff-check, ruff-format

refactor(tests): address Sourcery review feedback on PR #195
  docs/changelog.md
  pyproject.toml
  tests/unit/core/tracks/conftest.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/services/cache/test_hash_service_security.py
  uv.lock
Due: ruff-check, ruff-format

style(tests): apply ruff format to 4 unformatted test files
  docs/changelog.md
  tests/unit/core/models/test_validators_property.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/core/tracks/test_year_batch_prerelease.py
  tests/unit/services/cache/test_hash_service_property.py
Due: ruff-check, ruff-format

fix(ci): add env var fallbacks for dependabot PRs
  .github/workflows/ci.yml
Due: none

fix(ci): unblock dependabot PRs via test-scoped env vars
  .github/workflows/ci.yml
  docs/changelog.md
  tests/integration/services/test_dependency_container_integration.py
Due: ruff-check, ruff-format

fix(daemon): push sync commits from daemon's clone, not DEV REPO
  launchctl/bin/sync-fixtures.sh
  scripts/sync-diagnostics.sh
Due: none

chore(deps): sync uv.lock
  uv.lock
Due: none

docs(daemon): update SERVICE_README
  launchctl/SERVICE_README.md
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: ^src/ and \.py$
