Repository barad1tos/GenreUpdater: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [ '--maxkb=500' ]
      - id: check-merge-conflict

  # uv lock sync - ensures uv.lock stays in sync with pyproject.toml
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.14
    hooks:
      - id: uv-lock

  # GitHub Actions security scanner
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.0.1
    hooks:
      - id: zizmor
        args: ['--min-severity', 'medium']  # Ignore informational findings

  # Use local ruff from pyproject.toml (single source of truth)
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: true

      - id: ty
        name: ty (type checker)
        entry: uv run ty check --python .venv
        language: system
        types: [python]
        files: ^src/
        pass_filenames: false  # ty checks whole project, not individual files

docs(api_cache): add missing artist param to docstrings
  src/services/cache/api_cache.py
Due: ruff-check, ruff-format, ty

docs(core): add missing parameter documentation
  src/app/orchestrator.py
  src/core/tracks/year_batch.py
Due: ruff-check, ruff-format, ty

docs(data-flow): fix threshold in flowchart (50 → 70)
  docs/architecture/data-flow.md
Due: none

ci(docs): add GitHub Pages deployment workflow
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

docs: add MkDocs documentation for GitHub Pages
  docs/__init__.py
  docs/api/app/cli.md
  docs/api/app/features.md
  docs/api/app/index.md
  docs/api/app/orchestrator.md
  docs/api/core/config.md
  docs/api/core/dry_run.md
  docs/api/core/genre_manager.md
  docs/api/core/logger.md
  docs/api/core/track_processor.md
  docs/api/core/utils.md
  docs/api/core/year_retriever.md
  docs/api/index.md
  docs/api/metrics/analytics.md
  docs/api/metrics/index.md
  docs/api/metrics/reports.md
  docs/api/models/protocols.md
  docs/api/models/track.md
  docs/api/services/api_clients.md
  docs/api/services/apple.md
  docs/api/services/applescript.md
  docs/api/services/cache.md
  docs/api/services/snapshot.md
  docs/api/services/verification.md
  docs/contributing.md
  docs/gen_diagrams.py
  docs/gen_ref_pages.py
  docs/getting-started/configuration.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guide/automation.md
  docs/guide/cli.md
  docs/guide/faq.md
  docs/guide/troubleshooting.md
  docs/index.md
  docs/stylesheets/ayu.css
Due: ruff-check, ruff-format

chore: update dependencies and config for docs build
  .gitignore
  my-config.yaml
  pyproject.toml
  stubs/mkdocs_gen_files/__init__.pyi
  uv.lock
Due: none

fix(docs): use PATH resolution for pyreverse (cross-platform CI)
  docs/gen_diagrams.py
Due: ruff-check, ruff-format

fix(docs): use valid Material icons for grid cards
  docs/index.md
Due: none

fix(docs): add CSS for grid cards layout
  docs/stylesheets/ayu.css
Due: none

fix(docs): add CSS for grid cards layout (#166)
  docs/stylesheets/ayu.css
Due: none

fix(docs): remove --- separators that broke grid card list structure
  docs/index.md
Due: none

fix(docs): fix grid cards list structure (#167)
  docs/index.md
Due: none

fix(docs): add Mermaid diagram styling for Ayu themes
  docs/stylesheets/ayu.css
Due: none

fix(docs): address Sourcery review comments
  docs/stylesheets/ayu.css
Due: none

fix(docs): Mermaid diagram styling for Ayu themes (#168)
  docs/stylesheets/ayu.css
Due: none

fix(docs): update directory structure and add Mermaid JS theme
  docs/architecture/overview.md
  docs/javascripts/mermaid-theme.js
  mkdocs.yml
Due: none

fix(docs): address Sourcery security and maintainability issues
  docs/architecture/overview.md
  docs/javascripts/mermaid-theme.js
Due: none

style(docs): use const/let and function expressions in mermaid-theme.js
  docs/javascripts/mermaid-theme.js
Due: none

refactor(docs): remove unnecessary mermaid-theme.js
  docs/javascripts/mermaid-theme.js
  mkdocs.yml
Due: none

fix(docs): improve Mermaid text contrast using SVG fill property
  docs/stylesheets/ayu.css
Due: none

fix(tests): gracefully skip integration tests when secrets unavailable
  tests/integration/services/api/test_external_api_real.py
Due: ruff-check, ruff-format

fix(docs): directory structure and Mermaid theme (#169)
  docs/architecture/overview.md
  docs/stylesheets/ayu.css
  tests/integration/services/api/test_external_api_real.py
Due: ruff-check, ruff-format

feat(cache): add LRU eviction to GenericCacheService
  src/services/cache/generic_cache.py
  tests/unit/services/cache/test_generic_cache_service.py
Due: ruff-check, ruff-format, ty

fix(cache): ensure consistent LRU eviction in GenericCacheService
  src/services/cache/generic_cache.py
Due: ruff-check, ruff-format, ty

fix(api): add graceful shutdown for pending tasks in ExternalApiOrchestrator
  src/services/api/orchestrator.py
  tests/unit/services/api/test_orchestrator_shutdown.py
Due: ruff-check, ruff-format, ty

fix(core): resolve CODE_AUDIT Phase 1-2 issues
  .gitignore
  src/core/tracks/year_batch.py
  src/services/api/orchestrator.py
  src/services/api/request_executor.py
  src/services/api/year_search_coordinator.py
  src/services/cache/album_cache.py
  src/services/cache/api_cache.py
  src/services/cache/orchestrator.py
  src/services/dependency_container.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/services/api/test_orchestrator_init.py
  tests/unit/services/api/test_orchestrator_shutdown.py
  tests/unit/services/api/test_request_executor.py
  tests/unit/services/api/test_year_search_rate_limiting.py
  tests/unit/services/cache/test_api_cache_service.py
  tests/unit/services/cache/test_api_cache_shutdown.py
  tests/unit/services/test_dependency_container_shutdown.py
Due: ruff-check, ruff-format, ty

fix(deps): upgrade filelock, virtualenv for TOCTOU vulnerabilities
  uv.lock
Due: none

fix(api,cache): address Sourcery PR review issues
  .gitignore
  src/core/tracks/year_batch.py
  src/services/api/orchestrator.py
  src/services/cache/api_cache.py
  tests/unit/services/api/test_year_search_rate_limiting.py
Due: ruff-check, ruff-format, ty

test(shutdown): add Sourcery-requested test improvements
  tests/unit/services/api/test_orchestrator_shutdown.py
  tests/unit/services/cache/test_api_cache_shutdown.py
Due: ruff-check, ruff-format

fix(year): skip caching API results with confidence < 50
  src/core/tracks/year_determination.py
  tests/unit/core/tracks/test_year_determination_caching.py
Due: ruff-check, ruff-format, ty

fix(tests): add missing pending_verification_service mock in E2E tests
  tests/e2e/test_cli.py
Due: ruff-check, ruff-format
