Repository barad1tos/GenreUpdater: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, ty, pydoclint

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system
  pass_filenames: true

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system
  pass_filenames: true

ty:
  name: ty (type checker)
  entry: uv run ty check --python .venv
  language: system
  pass_filenames: false

pydoclint:
  name: pydoclint
  entry: uv run pydoclint
  language: system

refactor: fix 193 findings from code audit
  CHANGELOG.md
  pyproject.toml
  src/app/app_config.py
  src/app/cli.py
  src/app/features/batch/batch_processor.py
  src/app/features/crypto/encryption.py
  src/app/features/verify/database_verifier.py
  src/app/full_sync.py
  src/app/music_updater.py
  src/app/year_update.py
  src/core/models/track_models.py
  src/core/models/year_repair.py
  src/core/tracks/update_executor.py
  src/metrics/analytics.py
  src/services/api/applemusic.py
  src/services/api/discogs.py
  src/services/api/orchestrator.py
  src/services/api/request_executor.py
  src/services/api/year_scoring.py
  src/services/api/year_search_coordinator.py
  src/services/apple/applescript_client.py
  src/services/apple/applescript_executor.py
  src/services/apple/file_validator.py
  src/services/apple/rate_limiter.py
  src/services/apple/sanitizer.py
  src/services/cache/api_cache.py
  src/services/cache/fingerprint.py
  src/services/cache/orchestrator.py
  src/services/cache/snapshot.py
  src/services/dependency_container.py
  src/services/pending_verification.py
  tests/unit/services/test_dependencies_service_comprehensive.py
  uv.lock
Due: ruff-format, ruff-check, ty, pydoclint

test: cover 39 codecov patch-missing lines
  CHANGELOG.md
  tests/unit/app/features/crypto/test_encryption.py
  tests/unit/app/test_music_updater.py
  tests/unit/metrics/test_analytics_core.py
  tests/unit/services/api/test_applemusic.py
  tests/unit/services/api/test_discogs.py
  tests/unit/services/api/test_scoring_comprehensive.py
  tests/unit/services/api/test_year_search_coordinator.py
  tests/unit/services/apple/test_applescript_client_coverage.py
  tests/unit/services/apple/test_applescript_executor.py
  tests/unit/services/apple/test_file_validator.py
Due: ruff-format, ruff-check

test: cover except branches for codecov patch target
  CHANGELOG.md
  tests/unit/services/apple/test_applescript_client_coverage.py
  tests/unit/services/cache/test_fingerprint.py
  tests/unit/services/test_dependency_container_shutdown.py
Due: ruff-format, ruff-check

style: add missing docstrings to test mock functions
  CHANGELOG.md
  tests/unit/services/apple/test_applescript_client_coverage.py
  tests/unit/services/test_dependency_container_shutdown.py
Due: ruff-format, ruff-check

test: cover _log_apple_scripts_dir OSError for codecov patch target
  CHANGELOG.md
  tests/unit/services/test_dependency_container_shutdown.py
Due: ruff-format, ruff-check

fix(ci): guard Claude workflows against untrusted triggers
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix(ci): add contents:read to docs-audit
  .github/workflows/docs-audit.yml
Due: none

ci: add path filters to skip redundant checks on non-Python changes
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/codeql.yml
Due: none

feat(tools): add Swift fixture generator
  CHANGELOG.md
  pyproject.toml
  tools/generate_swift_fixtures.py
Due: ruff-format, ruff-check

feat(tools): add 5 boundary fixture cases
  CHANGELOG.md
  tools/generate_swift_fixtures.py
Due: ruff-format, ruff-check

fix(parsing): use split() over splitlines() for ASCII separator mode
  docs/changelog.md
  src/core/models/metadata_utils.py
  src/metrics/track_sync.py
  tests/unit/core/test_metadata.py
Due: ruff-format, ruff-check, ty, pydoclint

refactor(parsing): extract shared split helper, align constants (Sourcery)
  docs/changelog.md
  src/core/models/metadata_utils.py
  src/core/tracks/track_delta.py
  src/metrics/track_sync.py
  tests/integration/services/api/test_external_api_real.py
Due: ruff-format, ruff-check, ty, pydoclint

chore: hide .nosync dirs from IDE
  .gitignore
Due: none

test: harden type safety and resolve IDE warnings across test suite
  .gitignore
  CHANGELOG.md
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_year_plausibility_integration.py
  tests/mocks/protocol_mocks.py
  tests/unit/app/test_genre_update.py
  tests/unit/app/test_track_cleaning.py
  tests/unit/core/data/test_repair.py
  tests/unit/core/test_core_config.py
  tests/unit/core/tracks/test_artist_renamer.py
  tests/unit/core/tracks/test_genre_manager_additional.py
  tests/unit/core/tracks/test_track_processor.py
  tests/unit/services/api/test_api_boundary_security.py
  tests/unit/services/apple/test_applescript_executor.py
  tests/unit/services/apple/test_file_validator.py
  tests/unit/services/cache/test_cache_orchestrator.py
Due: ruff-format, ruff-check

fix(test): restore blank docstring in test_processor_failure_returns_false
  CHANGELOG.md
  tests/unit/core/tracks/test_artist_renamer.py
Due: ruff-format, ruff-check

refactor(test): dedupe logger fixtures
  CHANGELOG.md
  tests/unit/services/apple/test_file_validator.py
Due: ruff-format, ruff-check

fix(daemon): update paths after iCloud → Developer migration
  launchctl/SERVICE_README.md
  launchctl/bin/install.sh
  launchctl/bin/run-daemon.sh
  launchctl/bin/update.sh
  my-config.yaml
Due: none

fix(daemon): address Sourcery review
  launchctl/SERVICE_README.md
  launchctl/bin/update.sh
Due: none

chore: upgrade all deps + add Dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
  uv.lock
Due: none

fix(daemon): handle .gz in sync-fixtures
  launchctl/bin/sync-fixtures.sh
Due: none

fix: address Sourcery review on PR #267
  .github/workflows/dependabot-auto-merge.yml
  launchctl/bin/sync-fixtures.sh
Due: none

fix: resolve ty errors, type narrowing, and pyjwt CVE
  scripts/create_issue.py
  src/app/app_config.py
  src/services/cache/orchestrator.py
  uv.lock
Due: ruff-format, ruff-check, ty, pydoclint

fix(config): align incremental interval and move state off iCloud
  my-config.yaml
Due: none

fix(deps): bump cryptography to 50.0.0 for CVE-2026-69247
  pyproject.toml
  uv.lock
Due: none

fix(scripts): replace token assert with explicit runtime guard
  scripts/create_issue.py
Due: ruff-format, ruff-check

fix(deps): bump cryptography to 50.0.0 for CVE-2026-69247 (#408)
  pyproject.toml
  uv.lock
Due: none

fix(applescript): allow scripts directory under hidden parents
  CHANGELOG.md
  src/services/apple/file_validator.py
  tests/unit/services/apple/test_file_validator.py
Due: ruff-format, ruff-check, ty, pydoclint

ci: remove Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

feat(daemon): move to XDG layout and pin to release tags
  CHANGELOG.md
  docs/guide/automation.md
  launchctl/SERVICE_README.md
  launchctl/bin/common.sh
  launchctl/bin/install.sh
  launchctl/bin/run-daemon.sh
  launchctl/bin/sync-fixtures.sh
  launchctl/bin/update.sh
  launchctl/com.music.genreautoupdater.plist
Due: none

fix(daemon): keep the agent loaded when install fails
  launchctl/SERVICE_README.md
  launchctl/bin/install.sh
  launchctl/bin/run-daemon.sh
  launchctl/bin/update.sh
  launchctl/com.music.genreautoupdater.plist
Due: none

fix(daemon): make the lock atomic and harden install rollback
  launchctl/SERVICE_README.md
  launchctl/bin/common.sh
  launchctl/bin/install.sh
  launchctl/bin/run-daemon.sh
  launchctl/bin/update.sh
Due: none

perf(daemon): skip dev dependencies in the daemon venv
  launchctl/SERVICE_README.md
  launchctl/bin/install.sh
  launchctl/bin/run-daemon.sh
  launchctl/bin/update.sh
Due: none

chore(config): keep development run state out of daemon paths
  my-config.yaml
Due: none

ci(claude): stop persisting the checkout token in the workspace
  .github/workflows/claude.yml
Due: none

refactor(scripts): make diagnose_album context arguments keyword-only
  scripts/diagnose_failures.py
Due: ruff-format, ruff-check

chore(scripts): remove orphan sync-diagnostics script
  CHANGELOG.md
  scripts/sync-diagnostics.sh
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  ty: any of: ^src/ and \.py$
  pydoclint: any of: ^src/ and \.py$
