Repository barad1tos/GenreUpdater: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [ '--maxkb=500' ]
      - id: check-merge-conflict

  # uv lock sync - ensures uv.lock stays in sync with pyproject.toml
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.14
    hooks:
      - id: uv-lock

  # GitHub Actions security scanner
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.0.1
    hooks:
      - id: zizmor
        args: ['--min-severity', 'medium']  # Ignore informational findings

  # Use local ruff from pyproject.toml (single source of truth)
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: true

      - id: ty
        name: ty (type checker)
        entry: uv run ty check --python .venv
        language: system
        types: [python]
        files: ^src/
        pass_filenames: false  # ty checks whole project, not individual files

chore(ci): optimize security scanning pipeline
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

fix(ci): pin trivy-action to v0.33.1 for supply-chain security
  .github/workflows/ci.yml
Due: none

refactor(ci): parallelize jobs + consolidate workflows
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/diagnose-failures.yml
  .github/workflows/diagnostics.yml
  .github/workflows/nightly.yml
  .github/workflows/pages.yml
  .github/workflows/regression.yml
  .pre-commit-config.yaml
  artist-renames.yaml
  scripts/create_issue.py
  scripts/diagnose_failures.py
  src/core/models/__init__.py
  src/services/apple/__init__.py
  src/stubs/cryptography/__init__.py
  tests/__init__.py
  tests/e2e/__init__.py
  tests/unit/services/__init__.py
  tests/unit/services/api/__init__.py
  tests/unit/services/cache/__init__.py
Due: ruff-check, ruff-format, ty

fix(ci): update mutation-testing to wait for new CI job names
  .github/workflows/mutation-testing.yml
Due: none

refactor(daemon): replace cooldown with track count check
  launchctl/SERVICE_README.md
  launchctl/bin/install.sh
  launchctl/bin/run-daemon.sh
  launchctl/bin/sync-fixtures.sh
Due: none

refactor(tests): remove allure dependency from test suite
  tests/e2e/test_cli.py
  tests/e2e/test_cli_allure.py
  tests/e2e/test_full_pipeline.py
  tests/e2e/test_full_pipeline_allure.py
  tests/integration/test_genre_pipeline.py
  tests/integration/test_genre_pipeline_allure.py
  tests/integration/test_incremental_pipeline.py
  tests/integration/test_incremental_pipeline_allure.py
  tests/integration/test_year_pipeline.py
  tests/integration/test_year_pipeline_allure.py
  tests/integration/test_year_plausibility_integration.py
  tests/unit/app/test_music_updater.py
  tests/unit/app/test_music_updater_allure.py
  tests/unit/app/test_orchestrator.py
  tests/unit/app/test_orchestrator_allure.py
  tests/unit/core/data/test_album_type_detection.py
  tests/unit/core/tracks/test_genre_manager_additional.py
  tests/unit/core/tracks/test_genre_manager_additional_allure.py
  tests/unit/core/tracks/test_genre_manager_allure.py
  tests/unit/core/tracks/test_incremental_filter_allure.py
  tests/unit/core/tracks/test_track_processor.py
  tests/unit/core/tracks/test_year_retriever.py
  tests/unit/core/tracks/test_year_retriever_allure.py
  tests/unit/core/tracks/test_year_retriever_edge_cases.py
  tests/unit/services/api/test_discogs.py
  tests/unit/services/api/test_discogs_allure.py
  tests/unit/services/api/test_lastfm.py
  tests/unit/services/api/test_lastfm_allure.py
  tests/unit/services/api/test_musicbrainz.py
  tests/unit/services/api/test_musicbrainz_allure.py
  tests/unit/services/api/test_orchestrator.py
  tests/unit/services/api/test_orchestrator_allure.py
  tests/unit/services/cache/test_album_cache_service.py
  tests/unit/services/cache/test_api_cache_service.py
  tests/unit/services/cache/test_cache_orchestrator.py
  tests/unit/services/cache/test_generic_cache_service.py
  tests/unit/services/test_applescript_client.py
  tests/unit/services/test_applescript_client_allure.py
Due: ruff-check, ruff-format

fix(ci): add pytest-rerunfailures for network error retry
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

fix(tests): correct expected pattern for System Events detection order
  tests/unit/services/test_applescript_client.py
Due: ruff-check, ruff-format

fix(daemon): address code review feedback
  launchctl/bin/run-daemon.sh
  launchctl/bin/sync-fixtures.sh
  pyproject.toml
  uv.lock
Due: none

refactor(core): unify artist/album name normalization
  src/core/models/__init__.py
  src/core/models/metadata_utils.py
  src/core/models/normalization.py
  src/core/tracks/artist_renamer.py
  src/services/cache/album_cache.py
  src/services/cache/hash_service.py
Due: ruff-check, ruff-format, ty

fix(api): implement Discogs search fallback strategies
  src/services/api/discogs.py
  tests/unit/services/api/test_discogs.py
Due: ruff-check, ruff-format, ty

refactor(api): consolidate normalization to use centralized functions
  src/services/api/api_base.py
  src/services/api/applemusic.py
  src/services/api/year_scoring.py
  src/services/cache/api_cache.py
Due: ruff-check, ruff-format, ty

fix(api): prevent false positives in ORIGINAL_RELEASE_FIX reissue detection (#109)
  src/services/api/orchestrator.py
  src/services/api/year_score_resolver.py
  src/services/cache/api_cache.py
  tests/unit/services/api/test_year_score_resolver.py
Due: ruff-check, ruff-format, ty

docs: add alternative search design for issue #108
  docs/plans/2025-12-24-alternative-search-design.md
Due: none

docs: add implementation plan for alternative search (#108)
  docs/plans/2025-12-24-alternative-search-implementation.md
Due: none

feat(config): add soundtrack and various artists patterns
  config.yaml
Due: none

feat(search): add SearchStrategy enum and SearchStrategyInfo dataclass
  src/core/models/search_strategy.py
  tests/unit/core/models/test_search_strategy.py
Due: ruff-check, ruff-format, ty

feat(search): implement detect_search_strategy function
  src/core/models/search_strategy.py
  tests/unit/core/models/test_search_strategy.py
Due: ruff-check, ruff-format, ty

feat(search): add alternative search fallback to YearSearchCoordinator
  src/services/api/year_search_coordinator.py
  tests/integration/test_alternative_search.py
Due: ruff-check, ruff-format, ty

test(search): add edge case tests for strategy detection
  tests/unit/core/models/test_search_strategy.py
Due: ruff-check, ruff-format

Revert "docs: add alternative search design for issue #108"
  docs/plans/2025-12-24-alternative-search-design.md
Due: none

Revert "docs: add implementation plan for alternative search (#108)"
  docs/plans/2025-12-24-alternative-search-implementation.md
Due: none

refactor(search): simplify album matching and bracket checks
  src/core/models/search_strategy.py
  tests/unit/core/models/test_search_strategy.py
Due: ruff-check, ruff-format, ty

fix(lastfm): add fallback search for album patterns (#106)
  config.yaml
  src/services/api/lastfm.py
  src/services/api/orchestrator.py
  tests/unit/services/api/test_lastfm.py
Due: ruff-check, ruff-format, ty

fix(fallback): require 30% confidence for new years (#105)
  src/core/tracks/year_fallback.py
  tests/unit/core/tracks/test_year_plausibility.py
Due: ruff-check, ruff-format, ty

fix(api): enable connection pooling to reduce network errors (#104)
  config.yaml
  src/services/api/orchestrator.py
Due: ruff-check, ruff-format, ty

fix(api): normalize colons for API search (#103)
  src/services/api/orchestrator.py
  tests/unit/services/api/test_orchestrator_comprehensive.py
Due: ruff-check, ruff-format, ty

fix(api): resolve Cyrillic artist aliases (#102)
  src/services/api/musicbrainz.py
  tests/unit/services/api/test_musicbrainz.py
Due: ruff-check, ruff-format, ty

refactor(cache): remove iCloud cleanup module
  src/core/utils/icloud_cleanup.py
  src/services/cache/orchestrator.py
  tests/unit/core/test_icloud_cleanup.py
  tests/unit/services/cache/test_cache_orchestrator.py
Due: ruff-check, ruff-format, ty

refactor(api): use script_detection for alias resolution
  src/services/api/musicbrainz.py
Due: ruff-check, ruff-format, ty

fix(review): address Sourcery and Copilot feedback
  config.yaml
  my-config.yaml
  src/core/models/search_strategy.py
  src/services/api/lastfm.py
  src/services/cache/api_cache.py
  src/services/cache/hash_service.py
  tests/unit/core/models/test_normalization.py
  tests/unit/core/models/test_search_strategy.py
Due: ruff-check, ruff-format, ty

test(api): add coverage for year extraction + artist matching
  config.yaml
  my-config.yaml
  src/core/tracks/year_fallback.py
  src/core/tracks/year_retriever.py
  src/services/api/lastfm.py
  tests/unit/services/api/test_lastfm.py
  tests/unit/services/api/test_musicbrainz.py
Due: ruff-check, ruff-format, ty

fix(test): address Sourcery review suggestions
  src/core/tracks/year_retriever.py
  tests/unit/services/api/test_lastfm.py
  tests/unit/services/api/test_musicbrainz.py
Due: ruff-check, ruff-format, ty

test(api): add case sensitivity + edge case tests
  tests/unit/services/api/test_lastfm.py
  tests/unit/services/api/test_musicbrainz.py
Due: ruff-check, ruff-format

fix(ci): configure git identity before gh-pages commit
  .github/workflows/mutation-testing.yml
Due: none

fix(ci): configure git identity before (#117)
  .github/workflows/mutation-testing.yml
Due: none

fix(fallback): validate existing year against API results (Issue #93)
  src/core/tracks/year_determination.py
  src/core/tracks/year_fallback.py
Due: ruff-check, ruff-format, ty

test(fallback): add Issue #93 regression tests
  tests/unit/core/tracks/test_year_fallback_api_validation.py
Due: ruff-check, ruff-format

refactor(fallback): add Sourcery + Copilot review fixes (#118)
  src/core/tracks/year_fallback.py
  tests/unit/core/tracks/test_year_fallback_api_validation.py
Due: ruff-check, ruff-format, ty
