Repository barad1tos/GenreUpdater: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, ty, pydoclint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [ '--maxkb=500' ]
      - id: check-merge-conflict

  # uv lock sync - ensures uv.lock stays in sync with pyproject.toml
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.12
    hooks:
      - id: uv-lock

  # GitHub Actions security scanner
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.0.1
    hooks:
      - id: zizmor
        args: ['--min-severity', 'medium']  # Ignore informational findings

  # Use local tools from pyproject.toml (single source of truth)
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true

      - id: ty
        name: ty (type checker)
        entry: uv run ty check --python .venv
        language: system
        types: [python]
        files: ^src/
        pass_filenames: false  # ty checks whole project, not individual files

      - id: pydoclint
        name: pydoclint
        entry: uv run pydoclint
        language: system
        types: [python]
        files: ^src/

test: pin the clock in the year upper-bound test
  tests/unit/core/tracks/test_year_retriever_coverage.py
Due: ruff-format, ruff-check

test: assert the updates the genre and year pipelines make
  tests/integration/test_genre_pipeline.py
  tests/integration/test_year_pipeline.py
Due: ruff-format, ruff-check

fix(cli): keep the subparsers alias unsubscripted
  src/app/cli.py
Due: ruff-format, ruff-check, ty, pydoclint

test: make the genre error-recovery test reach the failing update
  tests/integration/test_genre_pipeline.py
Due: ruff-format, ruff-check

chore(sourcery): stop flagging imports of shared test helpers
  .sourcery.yaml
  tests/e2e/test_batch_processing.py
  tests/e2e/test_cli.py
  tests/e2e/test_full_pipeline.py
  tests/integration/services/api/test_api_orchestrator_integration.py
  tests/integration/test_alternative_search.py
  tests/integration/test_genre_pipeline.py
  tests/integration/test_incremental_pipeline.py
  tests/integration/test_year_pipeline.py
  tests/mocks/csv_mock.py
  tests/unit/app/features/verify/test_database_verifier.py
  tests/unit/app/test_genre_update.py
  tests/unit/app/test_track_cleaning.py
  tests/unit/app/test_year_update.py
  tests/unit/core/test_logger.py
  tests/unit/core/tracks/conftest.py
  tests/unit/core/tracks/test_batch_fetcher_analytics.py
  tests/unit/core/tracks/test_genre_manager.py
  tests/unit/core/tracks/test_incremental_filter.py
  tests/unit/core/tracks/test_track_base.py
  tests/unit/core/tracks/test_track_processor.py
  tests/unit/core/tracks/test_track_processor_coverage.py
  tests/unit/core/tracks/test_update_executor.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/core/tracks/test_year_batch_prerelease.py
  tests/unit/core/tracks/test_year_plausibility.py
  tests/unit/core/tracks/test_year_retriever.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
  tests/unit/core/tracks/test_year_retriever_edge_cases.py
  tests/unit/metrics/test_analytics_batch_mode.py
  tests/unit/metrics/test_analytics_core.py
  tests/unit/services/api/test_discogs.py
  tests/unit/services/api/test_orchestrator.py
  tests/unit/services/api/test_orchestrator_comprehensive.py
  tests/unit/services/api/test_orchestrator_init.py
  tests/unit/services/api/test_orchestrator_shutdown.py
  tests/unit/services/api/test_year_search_rate_limiting.py
  tests/unit/services/test_pending_verification_comprehensive.py
  tests/unit/services/test_pending_verification_service.py
Due: ruff-format, ruff-check

chore(sourcery): keep flagging imports of real test modules
  .sourcery.yaml
Due: none

chore(sourcery): say why imported test_* functions are flagged too
  .sourcery.yaml
Due: none

chore(sourcery): treat *_test.py modules as test modules too
  .sourcery.yaml
Due: none

fix(retry): remove the retry context manager that could not retry
  CHANGELOG.md
  src/core/retry_handler.py
  tests/unit/core/test_retry_handler.py
Due: ruff-format, ruff-check, ty, pydoclint

ci: check docstrings with pydoclint in the Quality job
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

ci: pass the pydoclint config explicitly
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

docs(retry): describe the handler without the removed context manager
  src/core/retry_handler.py
  tests/unit/core/test_retry_handler.py
Due: ruff-format, ruff-check, ty, pydoclint

test: shape the year pipeline mocks like get_album_year and assert outcomes
  tests/integration/test_year_pipeline.py
Due: ruff-format, ruff-check

test: let ty guard the year pipeline's API response shape
  tests/integration/test_year_pipeline.py
Due: ruff-format, ruff-check

docs(retry): say which errors are retried and when the timeout applies
  src/core/retry_handler.py
Due: ruff-format, ruff-check, ty, pydoclint

docs(retry): say the timeout only replaces the next attempt
  src/core/retry_handler.py
Due: ruff-format, ruff-check, ty, pydoclint

refactor(retry): drop context state only the removed manager exposed
  CHANGELOG.md
  src/core/retry_handler.py
  tests/unit/core/test_retry_handler.py
Due: ruff-format, ruff-check, ty, pydoclint

test(retry): pin each path execute_with_retry documents
  tests/unit/core/test_retry_handler.py
Due: ruff-format, ruff-check

test(year): make the pipeline tests fail on swallowed crashes
  tests/integration/test_year_pipeline.py
Due: ruff-format, ruff-check

ci: say why the docstring step scans all of src and passes --config
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

docs(changelog): say the CI step scans src/, not every docstring
  CHANGELOG.md
Due: none

test(year): pin the API context and configured values the pipeline uses
  tests/integration/test_year_pipeline.py
Due: ruff-format, ruff-check

test(retry): close the gaps the first execute_with_retry tests left
  tests/unit/core/test_retry_handler.py
Due: ruff-format, ruff-check

test(retry): build the policy before the pytest.raises block
  tests/unit/core/test_retry_handler.py
Due: ruff-format, ruff-check

test(year): give the album-year mocks the real service names and shapes
  tests/e2e/test_batch_processing.py
  tests/e2e/test_cli.py
  tests/e2e/test_full_pipeline.py
  tests/integration/test_genre_pipeline.py
  tests/unit/core/tracks/test_year_determination_skip.py
Due: ruff-format, ruff-check

test(e2e): drop the dead stubs and the test that checked none of its errors
  tests/e2e/test_batch_processing.py
  tests/e2e/test_cli.py
  tests/e2e/test_full_pipeline.py
  tests/integration/test_genre_pipeline.py
Due: ruff-format, ruff-check

fix: treat a cancelled gather task as a failure, not a result
  CHANGELOG.md
  src/core/tracks/genre_manager.py
  src/core/tracks/track_updater.py
  src/services/api/musicbrainz.py
  src/services/cache/orchestrator.py
  tests/unit/core/tracks/test_genre_manager.py
  tests/unit/core/tracks/test_year_retriever.py
  tests/unit/services/api/test_musicbrainz.py
  tests/unit/services/cache/test_cache_orchestrator.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(tracks): count each successful year update again
  src/core/tracks/track_updater.py
  tests/unit/core/tracks/test_year_retriever.py
Due: ruff-format, ruff-check, ty, pydoclint

test(cache): check that each failure log names its cache
  tests/unit/services/cache/test_cache_orchestrator.py
Due: ruff-format, ruff-check

fix: report a failed generic cache save like the other two caches
  src/services/cache/generic_cache.py
  tests/unit/core/tracks/test_year_retriever.py
  tests/unit/services/cache/test_cache_orchestrator.py
  tests/unit/services/cache/test_generic_cache_service.py
  tests/unit/services/test_dependency_container_shutdown.py
Due: ruff-format, ruff-check, ty, pydoclint

fix: log every cancelled gather task by type, in the year batch too
  CHANGELOG.md
  src/core/tracks/track_updater.py
  src/core/tracks/year_batch.py
  src/services/api/musicbrainz.py
  src/services/api/year_search_coordinator.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/services/api/test_musicbrainz.py
  tests/unit/services/api/test_year_search_coordinator.py
  tests/unit/services/cache/test_cache_orchestrator.py
Due: ruff-format, ruff-check, ty, pydoclint

fix: record only updated tracks and report failed cache saves
  CHANGELOG.md
  src/core/tracks/track_updater.py
  src/services/cache/orchestrator.py
  tests/unit/core/tracks/test_year_retriever.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
  tests/unit/services/cache/test_cache_orchestrator.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(year): log get_album_year failures outside debug mode
  CHANGELOG.md
  src/core/tracks/year_determination.py
  tests/unit/core/tracks/test_year_determination_helpers.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(year): surface year lookup failures at every layer, console included
  CHANGELOG.md
  src/core/tracks/year_batch.py
  src/core/tracks/year_determination.py
  src/services/api/orchestrator.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/core/tracks/test_year_determination_helpers.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
  tests/unit/services/api/test_orchestrator.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(api): warn on the console when the year search itself fails
  src/services/api/orchestrator.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/core/tracks/test_year_determination_helpers.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
  tests/unit/services/api/test_orchestrator.py
Due: ruff-format, ruff-check, ty, pydoclint

fix(api): warn on the console when the year search setup fails
  src/services/api/orchestrator.py
  tests/unit/services/api/test_orchestrator.py
Due: ruff-format, ruff-check, ty, pydoclint

fix: log provider failures and failed albums whatever the debug flags
  CHANGELOG.md
  src/core/tracks/year_batch.py
  src/services/api/year_search_coordinator.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/services/api/test_year_search_coordinator.py
Due: ruff-format, ruff-check, ty, pydoclint

fix: say on the console when the album year update stops
  CHANGELOG.md
  src/core/tracks/year_retriever.py
  src/services/api/orchestrator.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
  tests/unit/services/api/test_orchestrator.py
  tests/unit/services/api/test_year_search_coordinator.py
Due: ruff-format, ruff-check, ty, pydoclint

fix: print album names verbatim in the new console warnings
  src/app/year_update.py
  src/core/logger.py
  src/core/tracks/year_batch.py
  src/core/tracks/year_determination.py
  src/services/api/orchestrator.py
  tests/conftest.py
  tests/unit/app/test_year_update.py
  tests/unit/core/tracks/test_year_batch_error_handling.py
  tests/unit/core/tracks/test_year_determination_helpers.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
  tests/unit/services/api/test_orchestrator.py
  tests/unit/services/api/test_year_search_coordinator.py
Due: ruff-format, ruff-check, ty, pydoclint

test: keep the Rich console fixture free of colour codes
  tests/conftest.py
Due: ruff-format, ruff-check
