Repository barad1tos/GenreUpdater: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, ty

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system
  pass_filenames: true

ty:
  name: ty (type checker)
  entry: uv run ty check --python .venv
  language: system
  pass_filenames: false

chore(ide): add noinspection hint for PyCharm
  src/core/tracks/year_determination.py
Due: ruff-check, ruff-format, ty

fix(review): remove unnecessary noinspection hint
  src/core/tracks/year_determination.py
Due: ruff-check, ruff-format, ty

chore(dev): migrate from pre-commit to prek
  docs/contributing.md
Due: none

chore: add auto-claude entries to .gitignore
  .gitignore
Due: none

feat(year-fallback): intelligent edge case handling for fresh albums and re-recordings
  .gitignore
  main.py
  pyproject.toml
  src/core/models/album_type.py
  src/core/tracks/year_fallback.py
  tests/integration/test_year_plausibility_integration.py
  tests/mocks/protocol_mocks.py
  tests/unit/core/tracks/test_year_fallback_api_validation.py
  uv.lock
Due: ruff-check, ruff-format, ty

fix(year-fallback): address PR #179 review feedback
  pyproject.toml
  src/core/tracks/year_fallback.py
Due: ruff-check, ruff-format, ty

fix(deps): upgrade pynacl 1.6.1 -> 1.6.2 (security)
  uv.lock
Due: none

fix(deps): upgrade pynacl 1.6.1 -> 1.6.2 (security) (#180)
  uv.lock
Due: none

refactor(tests): fix linting issues in api orchestrator integration tests
  tests/integration/services/api/test_api_orchestrator_integration.py
Due: ruff-check, ruff-format

fix(tests): resolve PyCharm type warnings in api orchestrator tests
  tests/integration/services/api/test_api_orchestrator_integration.py
Due: ruff-check, ruff-format

fix(tests): use cast() for all async mock results
  tests/integration/services/api/test_api_orchestrator_integration.py
Due: ruff-check, ruff-format

feat(tests): add DependencyContainer integration tests
  tests/integration/services/test_dependency_container_integration.py
Due: ruff-check, ruff-format

fix(tests): use cast for InitializableService protocol and use self in mock
  tests/integration/services/test_dependency_container_integration.py
Due: ruff-check, ruff-format

fix(tests): use double cast for protocol type safety
  tests/integration/services/test_dependency_container_integration.py
Due: ruff-check, ruff-format

fix(tests): address linting issues in batch processing E2E tests
  tests/e2e/test_batch_processing.py
Due: ruff-check, ruff-format

refactor(tests): extract duplicate mock creation and add docstrings
  tests/regression/test_year_determination_edge_cases.py
Due: ruff-check, ruff-format

fix(tests): address type and linting issues in cache integration tests
  tests/integration/infrastructure/cache/test_cache_integration.py
Due: ruff-check, ruff-format

refactor(tests): extract hash consistency check into helper method
  tests/integration/infrastructure/cache/test_cache_integration.py
Due: ruff-check, ruff-format

fix(tests): resolve linting and type issues across test files
  tests/e2e/test_cli.py
  tests/integration/services/__init__.py
  tests/integration/services/test_dependency_container_integration.py
  tests/regression/test_genre_manager_edge_cases.py
Due: ruff-check, ruff-format

Test suite expansion and quality improvements (#181)
  tests/e2e/test_batch_processing.py
  tests/e2e/test_cli.py
  tests/integration/infrastructure/cache/test_cache_integration.py
  tests/integration/services/__init__.py
  tests/integration/services/api/test_api_orchestrator_integration.py
  tests/integration/services/test_dependency_container_integration.py
  tests/regression/test_genre_manager_edge_cases.py
  tests/regression/test_year_determination_edge_cases.py
Due: ruff-check, ruff-format

refactor(naming): remove Hungarian notation from variable names
  src/app/music_updater.py
  src/core/tracks/genre_manager.py
  src/metrics/change_reports.py
  src/services/api/orchestrator.py
  src/services/cache/snapshot.py
Due: ruff-check, ruff-format, ty

refactor(logging): enhance error context for debugging
  src/app/full_sync.py
  src/app/genre_update.py
  src/app/music_updater.py
  src/app/orchestrator.py
  src/app/year_update.py
  src/core/tracks/genre_manager.py
  src/core/tracks/track_processor.py
  src/core/tracks/year_batch.py
  src/core/tracks/year_determination.py
  src/metrics/csv_utils.py
  src/metrics/track_sync.py
  src/services/api/year_score_resolver.py
  src/services/cache/album_cache.py
  src/services/cache/snapshot.py
  tests/unit/app/test_music_updater.py
  tests/unit/app/test_orchestrator.py
Due: ruff-check, ruff-format, ty

refactor(code-quality): fix Sourcery code review issues
  src/app/genre_update.py
  src/app/year_update.py
  src/services/cache/album_cache.py
Due: ruff-check, ruff-format, ty

fix(logging): change year=%d to year=%s in error log
  src/core/tracks/year_batch.py
Due: ruff-check, ruff-format, ty

refactor: error logging context + naming improvements (#182)
  src/app/full_sync.py
  src/app/genre_update.py
  src/app/music_updater.py
  src/app/orchestrator.py
  src/app/year_update.py
  src/core/tracks/genre_manager.py
  src/core/tracks/track_processor.py
  src/core/tracks/year_batch.py
  src/core/tracks/year_determination.py
  src/metrics/change_reports.py
  src/metrics/csv_utils.py
  src/metrics/track_sync.py
  src/services/api/orchestrator.py
  src/services/api/year_score_resolver.py
  src/services/cache/album_cache.py
  src/services/cache/snapshot.py
  tests/unit/app/test_music_updater.py
  tests/unit/app/test_orchestrator.py
Due: ruff-check, ruff-format, ty

fix: 4 bug fixes + ASCII separators + code quality improvements
  applescripts/batch_update_tracks.applescript
  config.yaml
  src/core/tracks/update_executor.py
  src/core/tracks/year_batch.py
  src/core/tracks/year_determination.py
  src/services/cache/snapshot.py
  tests/unit/core/tracks/test_update_executor.py
  tests/unit/core/tracks/test_year_batch_prerelease.py
  tests/unit/core/tracks/test_year_retriever_coverage.py
Due: ruff-check, ruff-format, ty

fix: address Sourcery review + fix failing tests for all-track check
  src/core/tracks/update_executor.py
  src/core/tracks/year_batch.py
  tests/unit/core/tracks/test_year_determination_skip.py
Due: ruff-check, ruff-format, ty

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  ty: any of: ^src/ and \.py$
