Repository barad1tos/GenreUpdater: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [ '--maxkb=500' ]
      - id: check-merge-conflict

  # uv lock sync - ensures uv.lock stays in sync with pyproject.toml
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.14
    hooks:
      - id: uv-lock

  # GitHub Actions security scanner
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.0.1
    hooks:
      - id: zizmor
        args: ['--min-severity', 'medium']  # Ignore informational findings

  # Use local ruff from pyproject.toml (single source of truth)
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: true

      - id: ty
        name: ty (type checker)
        entry: uv run ty check --python .venv
        language: system
        types: [python]
        files: ^src/
        pass_filenames: false  # ty checks whole project, not individual files

feat(verification): add attempt_count tracking
  src/services/pending_verification.py
Due: ruff-check, ruff-format, ty

feat(orchestrator): skip verification if year matches
  src/services/api/orchestrator.py
Due: ruff-check, ruff-format, ty

feat(verification): add attempt limit escalation
  src/core/tracks/year_fallback.py
  src/services/api/orchestrator.py
Due: ruff-check, ruff-format, ty

feat(year-fallback): accept low-confidence after 3 tries
  src/core/models/protocols.py
  src/core/tracks/year_fallback.py
Due: ruff-check, ruff-format, ty

feat(itunes): add lookup API fallback for better album discovery
  src/services/api/applemusic.py
  tests/unit/services/api/test_applemusic.py
Due: ruff-check, ruff-format, ty

test(pending-verification): add attempt_count unit tests
  tests/unit/services/test_pending_verification_service.py
Due: ruff-check, ruff-format

fix(mocks): add get_attempt_count to mock service
  tests/mocks/protocol_mocks.py
Due: ruff-check, ruff-format

refactor(itunes): extract _try_lookup_fallback helper
  src/services/api/applemusic.py
Due: ruff-check, ruff-format, ty

refactor(itunes): extract _process_api_results helper
  src/services/api/applemusic.py
Due: ruff-check, ruff-format, ty

fix(year-match): pass dominant_year in force mode
  src/core/tracks/year_determination.py
  tests/unit/core/tracks/test_year_retriever.py
Due: ruff-check, ruff-format, ty

fix(year-match): pass actual year, not None for suspicious albums
  src/core/tracks/year_consistency.py
  src/core/tracks/year_determination.py
Due: ruff-check, ruff-format, ty

chore(pending): delete unused to_tuple/from_tuple
  src/services/pending_verification.py
Due: ruff-check, ruff-format, ty

chore(retry): delete unused ConfigurationRetryHandler
  src/core/retry_handler.py
  tests/unit/core/test_retry_handler.py
Due: ruff-check, ruff-format, ty

chore(cache): delete unused orchestrator wrappers
  src/services/cache/orchestrator.py
  tests/integration/infrastructure/cache/test_orchestrator_basics.py
  tests/unit/services/cache/test_cache_orchestrator.py
Due: ruff-check, ruff-format, ty

feat(pending): add missing VerificationReason enum values
  src/services/pending_verification.py
Due: ruff-check, ruff-format, ty

refactor(fallback): use enum constants for reasons
  src/core/tracks/year_fallback.py
Due: ruff-check, ruff-format, ty

test(fallback): add escalation logic tests
  tests/unit/core/tracks/test_year_fallback_api_validation.py
Due: ruff-check, ruff-format

fix(itunes): use exact match for artist lookup
  src/services/api/applemusic.py
Due: ruff-check, ruff-format, ty

refactor(mocks): use next() instead of for-loop
  tests/mocks/protocol_mocks.py
  tests/unit/services/test_pending_verification_service.py
Due: ruff-check, ruff-format

fix(regression): skip baseline tests when data unavailable
  tests/regression/conftest.py
  tests/regression/test_data_quality.py
Due: ruff-check, ruff-format

fix(regression): skip known_albums test when data unavailable
  tests/regression/test_known_issues.py
Due: ruff-check, ruff-format

fix(tests): address PR bot review comments
  src/services/api/applemusic.py
  tests/unit/core/tracks/test_year_fallback_api_validation.py
  tests/unit/services/test_pending_verification_service.py
Due: ruff-check, ruff-format, ty

test(applemusic): cover fallback branch when API returns None
  tests/unit/services/api/test_applemusic.py
Due: ruff-check, ruff-format

test(applemusic): cover fallback branch when API returns None (#156)
  tests/unit/services/api/test_applemusic.py
Due: ruff-check, ruff-format

docs(test): clarify fallback test docstring per Copilot review
  tests/unit/services/api/test_applemusic.py
Due: ruff-check, ruff-format

docs(test): clarify fallback test docstring per Copilot review (#157)
  tests/unit/services/api/test_applemusic.py
Due: ruff-check, ruff-format

feat(config): add pending_verification.auto_verify_days option
  config.yaml
Due: none

feat(pending): add should_auto_verify() method
  src/services/pending_verification.py
  tests/unit/services/test_pending_verification_service.py
Due: ruff-check, ruff-format, ty

feat(pending): add update_verification_timestamp() method
  src/services/pending_verification.py
  tests/unit/services/test_pending_verification_service.py
Due: ruff-check, ruff-format, ty

feat(pending): update timestamp after verify_pending runs
  src/app/music_updater.py
  tests/mocks/protocol_mocks.py
Due: ruff-check, ruff-format, ty

feat(orchestrator): add _maybe_auto_verify_pending integration
  src/app/orchestrator.py
  tests/unit/app/test_orchestrator.py
Due: ruff-check, ruff-format, ty

style(pending): add file path context to error messages
  src/services/pending_verification.py
Due: ruff-check, ruff-format, ty

fix(protocol): add missing auto-verify methods to PendingVerificationServiceProtocol
  src/core/models/protocols.py
Due: ruff-check, ruff-format, ty

fix(pending): address Sourcery review comments
  src/services/pending_verification.py
  tests/unit/services/test_pending_verification_service.py
Due: ruff-check, ruff-format, ty
